#### Download the latest dataset of Pleiades as in [csv](https://atlantides.org/downloads/pleiades/dumps/pleiades-places-latest.csv.gz), extract the file, and store the csv in the same directory with the notebook.

#### Imports
We import pandas and we change three options.

In [2]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

#### Let's read the Pleades csv file and create a DataFrame.

In [3]:
df = pd.read_csv('pleiades-places.csv')

In [4]:
df.head(2)

                  authors                                            bbox connectsWith               created          creators  currentVersion                                        description                                             extent featureTypes geoContext hasConnectionsWith        id locationPrecision  maxDate  minDate              modified              path    reprLat            reprLatLong   reprLong                               tags timePeriods                                 timePeriodsKeys timePeriodsRange                   title                               uid
0  Becker, J., T. Elliott    13.4119837, 42.082885, 13.4119837, 42.082885       413005  2016-11-04T16:36:09Z  jbecker, thomase             1.0  The post-Roman settlement at Alba Fucens becam...  {"type": "Point", "coordinates": [13.4119837, ...   settlement        NaN                NaN  48210385           precise   1453.0    640.0  2016-11-08T21:58:28Z  /places/48210385  42.082885   42.082885,13.4119837  13.411984                                NaN           M                             mediaeval-byzantine     640.0,1453.0         Borgo Medievale  ece5760c4c6d42c1a331aad543c4ecc4
1  Becker, J., T. Elliott  11.6285463, 42.4193742, 11.6285463, 42.4193742       413393  2016-11-04T16:39:09Z  jbecker, thomase             2.0  A major urban sanctuary at Vulci with a long p...  {"type": "Point", "coordinates": [11.6285463, ...     temple-2        NaN                NaN  48210386           precise    300.0   -750.0  2016-12-05T11:47:10Z  /places/48210386  42.419374  42.4193742,11.6285463  11.628546  sanctuary, extant remains, temple        ACHR  archaic,classical,hellenistic-republican,roman     -750.0,300.0  Tempio Grande at Vulci  4e06898f2de74dbc9f3a3bdba6d74ba2

## iloc vs loc

Run the following to cells. Is there any difference in the result?

In [5]:
df = pd.read_csv('pleiades-places.csv')
df.head(2)

                  authors                                            bbox connectsWith               created          creators  currentVersion                                        description                                             extent featureTypes geoContext hasConnectionsWith        id locationPrecision  maxDate  minDate              modified              path    reprLat            reprLatLong   reprLong                               tags timePeriods                                 timePeriodsKeys timePeriodsRange                   title                               uid
0  Becker, J., T. Elliott    13.4119837, 42.082885, 13.4119837, 42.082885       413005  2016-11-04T16:36:09Z  jbecker, thomase             1.0  The post-Roman settlement at Alba Fucens becam...  {"type": "Point", "coordinates": [13.4119837, ...   settlement        NaN                NaN  48210385           precise   1453.0    640.0  2016-11-08T21:58:28Z  /places/48210385  42.082885   42.082885,13.4119837  13.411984                                NaN           M                             mediaeval-byzantine     640.0,1453.0         Borgo Medievale  ece5760c4c6d42c1a331aad543c4ecc4
1  Becker, J., T. Elliott  11.6285463, 42.4193742, 11.6285463, 42.4193742       413393  2016-11-04T16:39:09Z  jbecker, thomase             2.0  A major urban sanctuary at Vulci with a long p...  {"type": "Point", "coordinates": [11.6285463, ...     temple-2        NaN                NaN  48210386           precise    300.0   -750.0  2016-12-05T11:47:10Z  /places/48210386  42.419374  42.4193742,11.6285463  11.628546  sanctuary, extant remains, temple        ACHR  archaic,classical,hellenistic-republican,roman     -750.0,300.0  Tempio Grande at Vulci  4e06898f2de74dbc9f3a3bdba6d74ba2

In [6]:
df.iloc[0]

authors                                          Becker, J., T. Elliott
bbox                       13.4119837, 42.082885, 13.4119837, 42.082885
connectsWith                                                     413005
created                                            2016-11-04T16:36:09Z
creators                                               jbecker, thomase
currentVersion                                                      1.0
description           The post-Roman settlement at Alba Fucens becam...
extent                {"type": "Point", "coordinates": [13.4119837, ...
featureTypes                                                 settlement
geoContext                                                          NaN
hasConnectionsWith                                                  NaN
id                                                             48210385
locationPrecision                                               precise
maxDate                                                          1453.0
minDate                                                           640.0
modified                                           2016-11-08T21:58:28Z
path                                                   /places/48210385
reprLat                                                       42.082885
reprLatLong                                        42.082885,13.4119837
reprLong                                                      13.411984
tags                                                                NaN
timePeriods                                                           M
timePeriodsKeys                                     mediaeval-byzantine
timePeriodsRange                                           640.0,1453.0
title                                                   Borgo Medievale
uid                                    ece5760c4c6d42c1a331aad543c4ecc4
Name: 0, dtype: object

In [7]:
df.loc[0]

authors                                          Becker, J., T. Elliott
bbox                       13.4119837, 42.082885, 13.4119837, 42.082885
connectsWith                                                     413005
created                                            2016-11-04T16:36:09Z
creators                                               jbecker, thomase
currentVersion                                                      1.0
description           The post-Roman settlement at Alba Fucens becam...
extent                {"type": "Point", "coordinates": [13.4119837, ...
featureTypes                                                 settlement
geoContext                                                          NaN
hasConnectionsWith                                                  NaN
id                                                             48210385
locationPrecision                                               precise
maxDate                                                          1453.0
minDate                                                           640.0
modified                                           2016-11-08T21:58:28Z
path                                                   /places/48210385
reprLat                                                       42.082885
reprLatLong                                        42.082885,13.4119837
reprLong                                                      13.411984
tags                                                                NaN
timePeriods                                                           M
timePeriodsKeys                                     mediaeval-byzantine
timePeriodsRange                                           640.0,1453.0
title                                                   Borgo Medievale
uid                                    ece5760c4c6d42c1a331aad543c4ecc4
Name: 0, dtype: object

The answer is no because in the first case the `iloc` was looking for the $0^{th}$ row while the `loc` was looking for the row that its index has the _label_ 0. In our example, the the result is the same row.

Let us read again the csv file but this time we are going to assign an index out of the existing columns and not let Pandas assign its own index. The csv file has a column entitled "id" which I will use as an index.

In [8]:
df = pd.read_csv('pleiades-places.csv', index_col='id')
df.head(2)

                         authors                                            bbox connectsWith               created          creators  currentVersion                                        description                                             extent featureTypes geoContext hasConnectionsWith locationPrecision  maxDate  minDate              modified              path    reprLat            reprLatLong   reprLong                               tags timePeriods                                 timePeriodsKeys timePeriodsRange                   title                               uid
id
48210385  Becker, J., T. Elliott    13.4119837, 42.082885, 13.4119837, 42.082885       413005  2016-11-04T16:36:09Z  jbecker, thomase             1.0  The post-Roman settlement at Alba Fucens becam...  {"type": "Point", "coordinates": [13.4119837, ...   settlement        NaN                NaN           precise   1453.0    640.0  2016-11-08T21:58:28Z  /places/48210385  42.082885   42.082885,13.4119837  13.411984                                NaN           M                             mediaeval-byzantine     640.0,1453.0         Borgo Medievale  ece5760c4c6d42c1a331aad543c4ecc4
48210386  Becker, J., T. Elliott  11.6285463, 42.4193742, 11.6285463, 42.4193742       413393  2016-11-04T16:39:09Z  jbecker, thomase             2.0  A major urban sanctuary at Vulci with a long p...  {"type": "Point", "coordinates": [11.6285463, ...     temple-2        NaN                NaN           precise    300.0   -750.0  2016-12-05T11:47:10Z  /places/48210386  42.419374  42.4193742,11.6285463  11.628546  sanctuary, extant remains, temple        ACHR  archaic,classical,hellenistic-republican,roman     -750.0,300.0  Tempio Grande at Vulci  4e06898f2de74dbc9f3a3bdba6d74ba2

Run again the following two cells.

In [11]:
df.iloc[0]

authors                                          Becker, J., T. Elliott
bbox                       13.4119837, 42.082885, 13.4119837, 42.082885
connectsWith                                                     413005
created                                            2016-11-04T16:36:09Z
creators                                               jbecker, thomase
currentVersion                                                      1.0
description           The post-Roman settlement at Alba Fucens becam...
extent                {"type": "Point", "coordinates": [13.4119837, ...
featureTypes                                                 settlement
geoContext                                                          NaN
hasConnectionsWith                                                  NaN
locationPrecision                                               precise
maxDate                                                          1453.0
minDate                                                           640.0
modified                                           2016-11-08T21:58:28Z
path                                                   /places/48210385
reprLat                                                       42.082885
reprLatLong                                        42.082885,13.4119837
reprLong                                                      13.411984
tags                                                                NaN
timePeriods                                                           M
timePeriodsKeys                                     mediaeval-byzantine
timePeriodsRange                                           640.0,1453.0
title                                                   Borgo Medievale
uid                                    ece5760c4c6d42c1a331aad543c4ecc4
Name: 48210385, dtype: object

As you might expected, the `iloc` will find the $0^{th}$ row. Let us run now the `loc[0]`

In [12]:
df.loc[0]

KeyError: 0

You are getting an error message because the `loc` cannot find a row with an index "0". Since we changed the indices with Pleiades ids, there is no 0 in the indices. Notice now what is happening if we search for a row that has a Pleiades id as index.

In [13]:
df.loc[48210385]

authors                                          Becker, J., T. Elliott
bbox                       13.4119837, 42.082885, 13.4119837, 42.082885
connectsWith                                                     413005
created                                            2016-11-04T16:36:09Z
creators                                               jbecker, thomase
currentVersion                                                      1.0
description           The post-Roman settlement at Alba Fucens becam...
extent                {"type": "Point", "coordinates": [13.4119837, ...
featureTypes                                                 settlement
geoContext                                                          NaN
hasConnectionsWith                                                  NaN
locationPrecision                                               precise
maxDate                                                          1453.0
minDate                                                           640.0
modified                                           2016-11-08T21:58:28Z
path                                                   /places/48210385
reprLat                                                       42.082885
reprLatLong                                        42.082885,13.4119837
reprLong                                                      13.411984
tags                                                                NaN
timePeriods                                                           M
timePeriodsKeys                                     mediaeval-byzantine
timePeriodsRange                                           640.0,1453.0
title                                                   Borgo Medievale
uid                                    ece5760c4c6d42c1a331aad543c4ecc4
Name: 48210385, dtype: object

As you see the `loc` can find a row that has as an index the Pleiades ID we were searching.

---

## Search in Pandas

There are multiple ways that we can query a pandas DataFrame. Let's start by reading the speech of Hawking.

In [14]:
with open('Hawking-Questioning-the-Universe.txt', 'r') as f:
    text_as_list = f.read().split(' ')
    
# and remove the punctuation    
import string
text_as_list = [i.translate(str.maketrans('', '', string.punctuation)).lower() for i in text_as_list]

Let us create a dictionary `dict_counter` that takes as keys the words of text_as_list. The values of each key should be the number that each words is attested in the list.

Hint: Check the [`count()` method](https://www.w3schools.com/python/ref_list_count.asp).

In [15]:
dict_counter = {}

for i in text_as_list:
    dict_counter[i] = text_as_list.count(i)

and now we will create a DataFrame with the dictionary dict_counter.

In [20]:
df = pd.DataFrame(dict_counter.items())

before you run the next line, can you predict how many columns does the dataframe have and what is its index?

In [21]:
df.head(5)

         0   1
0    there  10
1       is  13
2  nothing   2
3   bigger   1
4       or   5

It is fair to conclude that having 0 and 1 as titles for the dataframe is not very helful. Let us change this. In the DataFrame below, I am making two columns. One with the words and one with their occurances. I name the columns accordingly.

In [22]:
df = pd.DataFrame({'words': dict_counter.keys(), 'occurances': dict_counter.values()})
df.head(3)

     words  occurances
0    there          10
1       is          13
2  nothing           2

Notice that we did not write `dict_counter.items()` but I imported two columns, the keys and the values.

Apropos, the above line of code has the same result as `df = pd.DataFrame(dict_counter.items(), columns=["words", "age"])`

Now, let's search in the words the item galaxy. What I wrote below is a filter that checks for the word "galaxy."

In [23]:
df['words'] == "galaxy"

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
31     False
32     False
33     False
34     False
35     False
36     False
37     False
38     False
39     False
40     False
41     False
42     False
43     False
44     False
45     False
46     False
47     False
48     False
49     False
50     False
51     False
52     False
53     False
54     False
55     False
56     False
57     False
58     False
59     False
60     False
61     False
62     False
63     False
64     False
65     False
66     False
67     False
68     False
69     False
70     False
71     False
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89     False
90     False
91     False
92     False
93     False
94     False
95     False
96     False
97     False
98     False
99     False
100    False
101    False
102    False
103    False
104    False
105    False
106    False
107    False
108    False
109    False
110    False
111    False
112    False
113    False
114    False
115    False
116    False
117    False
118    False
119    False
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142    False
143    False
144    False
145    False
146    False
147    False
148    False
149    False
150    False
151    False
152    False
153    False
154    False
155    False
156    False
157    False
158    False
159    False
160    False
161    False
162    False
163    False
164    False
165    False
166    False
167    False
168    False
169    False
170    False
171    False
172    False
173    False
174    False
175    False
176    False
177    False
178    False
179    False
180    False
181    False
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189    False
190    False
191    False
192    False
193    False
194    False
195    False
196    False
197     True
198    False
199    False
200    False
201    False
202    False
203    False
204    False
205    False
206    False
207    False
208    False
209    False
210    False
211    False
212    False
213    False
214    False
215    False
216    False
217    False
218    False
219    False
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227    False
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240    False
241    False
242    False
243    False
244    False
245    False
246    False
247    False
248    False
249    False
250    False
251    False
252    False
253    False
254    False
255    False
256    False
257    False
258    False
259    False
260    False
261    False
262    False
263    False
264    False
265    False
266    False
267    False
268    False
269    False
270    False
271    False
272    False
273    False
274    False
275    False
276    False
277    False
278    False
279    False
280    False
281    False
282    False
283    False
284    False
285    False
286    False
287    False
288    False
289    False
290    False
291    False
292    False
293    False
294    False
295    False
296    False
297    False
298    False
299    False
300    False
301    False
302    False
303    False
304    False
305    False
306    False
307    False
308    False
309    False
310    False
311    False
312    False
313    False
314    False
315    False
316    False
317    False
318    False
319    False
320    False
321    False
322    False
323    False
324    False
325    False
326    False
327    False
328    False
329    False
330    False
331    False
332    False
333    False
334    False
335    False
336    False
337    False
338    False
339    False
340    False
341    False
342    False
343    False
344    False
345    False
346    False
347    False
348    False
349    False
350    False
351    False
352    False
353    False
354    False
355    False
356    False
357    False
Name: words, dtype: bool

Now I will create a new dataframe `df[]` and inside the square brackets I am going to put the filter `df['words'] == "galaxy"`.

In [26]:
df[df['words'] == "galaxy"]

2

That's great! Yet let's say that I am not interesting in getting a DataFrame but just the occurances.

In [27]:
df[df['words'] == "galaxy"]['occurances']

197    2
Name: occurances, dtype: int64

Let's put all this inside a `int()` in order to present it as an integer.

In [28]:
int(df[df['words'] == "galaxy"]['occurances'])

2

Great! The word galaxy is attested two times!

Apropos, notice that the two lines below produce the same result. I simply moved the ['occurances'] after the first df:
- `df[df['words'] == "galaxy"]['occurances']`
- `df['occurances'][df['words'] == "galaxy"]`

The former first makes a dataframe based on a filter and then checks for the columns occurances. The latter first gets the column occurances on which it applies later the filter.

This line of code `int(df[df['words'] == "galaxy"]['occurances'])`is efficient but we can query our DataFrame in another way.

### Looking for galaxies with `loc[]`

As we saw above, the `loc[]` is looking for an index with the specific parameter. For example the `loc['galaxy']` is searching for the index named "galaxy". Yet, before we do that, let us see first what's the index of the DataFrame and how we can change it.

In [29]:
df.head()

     words  occurances
0    there          10
1       is          13
2  nothing           2
3   bigger           1
4       or           5

The index is a number. Let's change that. The line below says make the column words as the index of the DataFrame.

Note: if you run this code more than once, you will get an error message. If this is the case create a new cell and run `df.reset_index(inplace=True)`.

In [30]:
df.set_index("words")

               occurances
words
there                  10
is                     13
nothing                 2
bigger                  1
or                      5
older                   1
than                    2
the                    77
universe               19
questions               4
i                       7
would                   3
like                    3
to                     22
talk                    1
about                   4
are                     9
one                     3
where                   1
did                     4
we                     26
come                    2
from                    4
how                     2
into                    4
being                   3
alone                   3
in                     14
alien                   3
life                    9
out                     3
what                    2
future                  3
of                     39
human                   2
race                    2
up                      1
until                   2
1920s                   1
everyone                2
thought                 1
was                    10
essentially             1
static                  1
and                    19
unchanging              1
time                    6
then                    1
it                      9
discovered              1
that                   12
expanding               1
distant                 1
galaxies                1
were                    3
moving                  1
away                    1
us                      1
this                    7
meant                   1
they                    2
must                    3
have                   14
been                    6
closer                  1
together                1
past                    2
if                      6
extrapolate             1
back                    1
find                    2
all                     4
on                      9
top                     1
each                    1
other                   4
15                      1
billion                 6
years                  10
ago                     3
big                     6
bang                    3
beginning               1
but                     8
anything                1
before                  1
not                     3
created                 2
why                     3
emerge                  1
way                     1
used                    1
think                   2
theory                  3
could                   1
be                      4
divided                 1
two                     2
parts                   1
first                   5
laws                    4
maxwellâ€™s             1
equations               1
general                 2
relativity              2
determined              1
evolution               4
given                   2
its                     1
state                   3
over                    1
space                   7
at                      2
second                  2
no                      2
question                2
initial                 4
made                    2
good                    3
progress                3
part                    1
now                     2
knowledge               3
most                    3
extreme                 2
conditions              4
recently                1
had                     1
little                  1
idea                    1
for                     8
however                 1
division                1
depends                 1
separate                1
distinct                1
under                   1
quantum                 1
allow                   1
behave                  1
another                 1
dimension               1
removes                 1
distinction             1
between                 1
means                   1
can                     3
also                    1
determine               1
spontaneously           2
create                  1
itself                  2
moreover                1
calculate               1
a                      11
probability             3
different               1
states                  1
these                   3
predictions             1
excellent               1
agreement               1
with                    2
observations            1
by                      4
wmap                    1
satellite               1
cosmic                  1
microwave               1
background              1
which                   3
an                      4
imprint                 1
very                    3
early                   1
solved                  1
mystery                 1
creation                1
maybe                   1
should                  3
patent                  1
charge                  1
royalties               1
their                   1
existence               1
turn                    1
believe                 1
arose                   1
earth                   6
so                      3
possible                2
appear                  2
suitable                1
planets                 1
seem                    2
large                   1
number                  1
galaxy                  2
donâ€™t                 2
know                    1
appeared                2
pieces                  1
observational           1
evidence                1
appearing               2
fossils                 1
algae                   1
35                      1
formed                  1
46                      1
probably                3
too                     1
hot                     1
half                    2
within                  2
short                   1
compared                1
10billionyear           1
lifetime                1
planet                  3
type                    1
suggests                1
reasonably              1
high                    1
low                     1
expected                1
take                    1
ten                     1
available               1
hand                    1
visited                 1
aliens                  3
am                      2
discounting             1
reports                 2
ufos                    1
only                    3
cranks                  1
weirdos                 1
government              1
conspiracy              1
suppress                1
keep                    1
scientific              1
bring                   1
seems                   2
singularly              1
ineffective             1
policy                  2
far                     1
furthermore             1
despite                 1
extensive               1
search                  1
seti                    1
project                 1
havenâ€™t               1
heard                   1
any                     1
television              1
quiz                    1
shows                   1
indicates               1
civilizations           1
our                     8
stage                   1
development             1
radius                  1
few                     1
hundred                 4
light                   1
issuing                 1
insurance               1
against                 1
abduction               1
pretty                  1
safe                    1
bet                     1
brings                  1
me                      2
last                    2
intelligent             1
beings                  1
make                    1
sure                    1
survive                 1
continue                2
entering                1
increasingly            1
dangerous               1
period                  1
history                 1
population              1
use                     1
finite                  1
resources               1
growing                 1
exponentially           1
along                   1
technical               1
ability                 1
change                  1
environment             1
ill                     1
genetic                 1
code                    1
still                   1
carries                 1
selfish                 1
aggressive              1
instincts               1
survival                2
advantage               1
will                    1
difficult               1
enough                  1
avoid                   1
disaster                1
next                    3
let                     1
thousand                1
million                 1
chance                  1
longterm                1
remain                  1
inwardlooking           1
spread                  1
answers                 2
show                    1
remarkable              1
want                    1
beyond                  1
favor                   1
manned                  1
â€“                     2
say                     1
personned               1
flight                  1
my                      2
sought                  1
understand              1
lucky                   1
disability              1
has                     2
serious                 1
handicap                1
indeed                  1
more                    1
people                  1
pursue                  1
quest                   1
ultimate                1
goal                    1
complete                1
making                  1
thank                   1
you                     1
listening               1

Yet, run the DataFrame again.

In [31]:
df.head(2)

   words  occurances
0  there          10
1     is          13

The index changed back to the automatic index of pandas. Or actually, when we tried to make the column words as the index, we did it only temporarily. If we want to change the index permanently, we have to pass the parameter `inplace=True` that changes the original DataFrame. Why? 

"Whenever you call a method on a DataFrame in the form `df.method_name()`, you will get back a copy of the DataFrame with
that method applied, leaving the original DataFrame untouched. We have just done that by calling df.reset_index(). If you wanted to change the original DataFrame, you would have to assign the return value back to the original variable like the following: 
`df = df.reset_index()`

Since we are not doing this, it means that our variable df is still holding its original data." Zumstein, F. (2021) _Python for Excel. A Modern Environment for Automation and Data Analysis_, p. 89.

In [32]:
df.set_index("words", inplace=True)
df.head(2)

       occurances
words
there          10
is             13

As you see, now no matter how many times you run `df.head(2)` the column "words" remains the index.

Let's return to the original question, how can we find the occurances of "galaxy" with `loc`?

In [35]:
df.loc['galaxy']

occurances    2
Name: galaxy, dtype: int64

Let's put that inside an int()

In [36]:
int(df.loc['galaxy'])

2

Great! Two galaxies!

Let's reset the index...

In [37]:
df.reset_index(inplace=True)

 and let's see which code is more efficient. Is this better?

In [39]:
int(df[df['words'] == "galaxy"]['occurances'])

2

or is this better?

In [40]:
df.set_index("words", inplace=True)
int(df.loc['galaxy'])

2

What do you prefer? There is no right or wrong answer here. It's just a matter of preference.

Let's now search for "galaxy" or "galaxies". I think that the `loc` property is not very efficient in this example.

First we have to reset the index.

In [41]:
df.reset_index(inplace=True)

Then let's write clearly our filters.
- `df['words'] == "galaxy"`
- `df['words'] == "galaxies"`

Since the new dataframe has two filters we have to put them in parentheses with are connected with an OR (`|`). Now let's put it inside a `df[ ]`.

In [42]:
df[(df['words'] == "galaxy") | (df['words'] == "galaxies")]

        words  occurances
53   galaxies           1
197    galaxy           2

At the end of the above code, I will add a `.sum()`.

In [43]:
df[(df['words'] == "galaxy") | (df['words'] == "galaxies")].sum()

words         galaxiesgalaxy
occurances                 3
dtype: object

As you see the `sum()` added the numbers but it concatenated the strings. Since we only need the column "occurances," we have to add `['occurances']`:

In [44]:
df[(df['words'] == "galaxy") | (df['words'] == "galaxies")]["occurances"].sum()

3

---