In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

#### Read the file 'NBA Stats 202122 All Player Statistics in one Page.xlsx'. I downloaded the excel from [nbastuffer.com](https://www.nbastuffer.com/2021-2022-nba-player-stats/) and I removed the first column and the first row.

In [ ]:
df = pd.read_excel('NBA Stats 202122 All Player Statistics in one Page.xlsx')

#### Print the first five lines

In [ ]:
df.head(5)

#### Get the name of the columns

#### Get the stats of "Giannis Antetokounmpo"

#### How many players are over 30 years old?

#### How many players of Milwaukee Bucks are in this DataFrame?

#### How many players of Milwaukee Bucks are over 30 years old?

#### Which players of Milwaukee Bucks were shooting with average over 50% in either 2P% or 3P%

#### Get Milwaukee Bucks' average free throws (FT%)

#### Get the average free throws per team

#### Guess the result of the next code: True or False?

In [ ]:
simpsons = pd.Series(
['Homer', 'Marge', 'Bart', 'Lisa', 'Maggie'])
print('Bart' in simpsons)

In [ ]:
simpsons = pd.Series(
['Homer', 'Marge', 'Bart', 'Lisa', 'Maggie'])
print('Bart' in simpsons.values)

#### Round in pandas. `round()` function is used to round a DataFrame to a variable number of decimal places. Yet, run the cell below to see a weird behavior.

In [ ]:
s = pd.Series([-2.5, -1.5, -0.5, 0.5, 1.5, 2.5])
print(s.round())

Bankersâ€™ rounding. Odd numbers are rounded up, even numbers are rounded down.

#### Correct the mistake in order to get numbers larger than two and small than five

In [ ]:
nums = pd.Series([1, 2, 3, 4, 5, 6])
print(nums[nums > 2 AND nums < 5])

#### Change the df in order to reflect an 20% increase in the prices.

In [ ]:
df = pd.DataFrame([
['T-shirt', 70],
['Pants', 80],
['Coat', 250],
['Shirt', 95]], columns=['item', 'price'])

#### Change the df below so it reflects a 35% increase in the price of the vegetables and a 25% decrease in the price of fruits.

In [ ]:
df = pd.DataFrame([
['Carrots', 'vegetable', 6],
['Apple', 'fruit', 5],
['Banana', 'fruit', 4],
['Spinach', 'vegetable', 2]], columns=['item', 'type', 'price'])

In [ ]:
df

#### There is a DataFrame with products. If the products are going to turn bad soon, their condition is described as False. Else, their condition is True. Create a new df that gives a 40% discount if the product might turn bad and 15% increase if they are still in good condition.

In [ ]:
df = pd.DataFrame([
['Egg', False, 6],
['Watermelon', True, 5],
['Milk', False, 4],
['Water', True, 2]], columns=['item', 'condition', 'price'])

In [ ]:
df

---