#### Imports

In [ ]:
import pandas as pd
import sqlite3
pd.set_option('max_colwidth', None)

#### Initiate an empty database

In [ ]:
connection = sqlite3.connect(":memory:")

#### Create a table

In [ ]:
# CREATE A TABLE
connection.execute('''CREATE TABLE faculty
             (
             
             )''')

#### Insert some data

In [ ]:
# INSERT DATA
connection.execute('''
INSERT INTO faculty
VALUES (
)
''')

In [ ]:
# TRIVIAL TEST VIA SELECT
result = connection.execute(
""
)
result.fetchall()

#### Make the SQL database to a pandas DataFrame

---

## Cities Database

Download the [Cities Database](http://oxrep.classics.ox.ac.uk/oxrep/docs/Hanson2016/Hanson2016_CitiesDatabase_OxREP.xlsx) of Hanson, J. W. (2016) _Cities Database_ (OXREP databases). Version 1.0. Accessed (date): <http://oxrep.classics.ox.ac.uk/databases/cities/>. DOI: <https://doi.org/10.5287/bodleian:eqapevAn8>

In titles, replace all spaces with underscores and convert case to lowercase.

In [ ]:
# This line resets the memory.
connection = sqlite3.connect(":memory:")

# Read the excel as pandas DataFrame
cities_df = pd.read_excel('Hanson2016_citiesDatabase_OxREP.xlsx', sheet_name = 'cities')

# Turn the DataFrame to SQL
cities_df.to_sql('cities', con = connection, index = False) # Why False?

#### Let's perform a query

In [ ]:
pd.read_sql("SELECT * FROM cities", connection).head()

#### `WHERE`

In [ ]:
pd.read_sql("""


""", connection)

#### `AND`

In [ ]:
pd.read_sql("""


""", connection)

#### What is NULL?

In [ ]:
pd.read_sql("""

""", connection).head()

#### Subquery: Find all cities older than Torone in Macedonia

In [ ]:
pd.read_sql("""



""", connection)

#### Let's select all counties where there were ancient cities

In [ ]:
pd.read_sql("""



""", connection)

#### ` ORDER BY`

In [ ]:
pd.read_sql("""



""", connection)

#### `DISTINCT`

In [ ]:
pd.read_sql("""



""", connection)

#### Exercise: Find all the countries that have cities on ancient Macedonia

In [ ]:
pd.read_sql("""

""", connection)

#### Exercise: Find all provinces eastern than Athens (Athenae) that have cities are older than Athens

In [ ]:
pd.read_sql("""

""", connection)

#### Exercise: Count all provinces eastern than Athens (Athenae) that have cities are older than Athens

In [ ]:
pd.read_sql("""


""", connection)

#### Read the sheet _monuments_ of Hanson2016_citiesDatabase_OxREP

In [ ]:
monuments_df = pd.read_excel('Hanson2016_citiesDatabase_OxREP.xlsx', sheet_name = 'monuments')

monuments_df.to_sql('monuments', con = connection, index = False)

pd.read_sql("SELECT * FROM monuments", connection).head(2)

Notice that we are not creating a new connection

In [ ]:
pd.read_sql("""


""", connection)

#### Exercise create an ordered list with the city of each province that has the most monuments along with the counts of the monuments

#### What about `iloc` and `loc`?