#### Imports

In [6]:
import pandas as pd
import json
import urllib.request
# from random import randint
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

#### Download the latest [Pleiades names](https://atlantides.org/downloads/pleiades/dumps/pleiades-places-latest.csv.gz), extract the compressed file, and read the csv file.

In [2]:
df = pd.read_csv('pleiades-places-latest.csv')

In [3]:
mypleiadesplaces = [['Athens', '579885'], ['Abila', '697622']]

In [4]:
def getjson(pleiadesID):
    url = f"https://pleiades.stoa.org/places/{pleiadesID}/json"
    
    with urllib.request.urlopen(url) as f:
        pleiades_geojson = json.loads(f.read().decode())
    
    return pleiades_geojson

In [5]:
def coordinates(pleiades_geojson):
    try:    
        pleiades_geojson['features'][0]['geometry']['coordinates']
        return pleiades_geojson['features'][0]['geometry']['coordinates']
  
    except:
        return pleiades_geojson['reprPoint']

In [15]:
allplace = []

for i in mypleiadesplaces:
#     print(i[0])

    long, lat = coordinates(getjson(i[1]))
#     print(lat)
#     print(long)
    
    templist = [i[0], lat, long]
    allplace.append(templist)

In [16]:
allplace

[['Athens', 37.972453602957316, 23.726268222011864],
 ['Abila', 31.858619, 35.635409]]

In [18]:
df = pd.DataFrame(allplace, columns = ['place', 'lat', 'long'])

In [19]:
df

    place        lat       long
0  Athens  37.972454  23.726268
1   Abila  31.858619  35.635409

In [20]:
df.to_csv("place.csv")