## Lists

In [1]:
mylist = ['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine']

#### Add the name Jim to the list

In [2]:
mylist.append('Georgios')

In [4]:
print(mylist)

['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios']

#### Insert the name Bod to the 2nd place in the list

In [9]:
mylist[1] = ('Alex')
print(mylist)

['John', 'Alex', 'Ted', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios', 'Alex', 'l']

#### Remove Ted from the list

In [10]:
mylist.remove('Ted')

In [13]:
print(mylist)

['John', 'Alex', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios', 'Alex', 'l']

---

## Tuples

#### Make mylist a tuple

In [16]:
mytuple = tuple(mylist)
print((mytuple))

('John', 'Alex', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios', 'Alex', 'l')

#### Change the first element in the tuple

In [17]:
mytuple[0] = ('Alex')
print((mytuple))

TypeError: 'tuple' object does not support item assignment

In [19]:
mynewlist = list(mytuple)
mynewlist

['John',
 'Alex',
 'Nick',
 'Albert',
 'John',
 'Catherine',
 'Georgios',
 'Alex',
 'l']

__We have to create a new tuple as while lists are mutable, tuples are immutable.__

---

## Dictionaries

In [21]:
persons = {
    "first": "John",
    "last": "Smith",
    "email": "johnsmith@gmail.com"
}

In [24]:
print(persons[0])

KeyError: 0

#### Add more people

In [25]:
persons = {
    "first": ["John", "Bob"],
    "last": ["Smith", "Joe"],
    "email": ["johnsmith@gmail.com", "bobjoe@gmail.com"]
}

In [26]:
print(persons)

{'first': ['John', 'Bob'], 'last': ['Smith', 'Joe'], 'email': ['johnsmith@gmail.com', 'bobjoe@gmail.com']}

### items, keys, values

In [29]:
persons.values()

dict_values([['John', 'Bob'], ['Smith', 'Joe'], ['johnsmith@gmail.com', 'bobjoe@gmail.com']])

In [40]:
for keys,values in persons.items():
    
    print(keys)
    for value in values:
        print(value)
    print('\n')

first
John
Bob


last
Smith
Joe


email
johnsmith@gmail.com
bobjoe@gmail.com

---

## Set

#### Make mylist a set

In [53]:
mylist.append('Georgios')
print(mylist)

myset = set(mylist)
print(myset)

['Albert', 'Alex', 'Nick', 'l', 'John', 'Catherine', 'Georgios', 'Georgios']
{'Albert', 'Alex', 'Nick', 'John', 'l', 'Catherine', 'Georgios'}

#### Make mylist again a list

In [56]:
mylist = list(set(mylist))
print(mylist)

['Albert', 'Alex', 'Nick', 'John', 'l', 'Catherine', 'Georgios']

---

## Read and Write to files

### Read

In [60]:
file = open("myfile.txt", "r")
f = file.read()
file.close()

In [61]:
print(f)

Hi!

In [65]:
with open("myfile.txt", "r", encoding='utf-8') as file:
    f = file.read()
print(f)

Hi, Γεώργιος!

### Write

---

## Pandas and CSV/EXCEL

#### Libraries - Imports

In [ ]:
# pip install pandas

In [ ]:
import os
import pandas as pd # This is a convention in Python community.

#### Read

Download the csv of [Roman Amphitheaters](https://github.com/roman-amphitheaters/roman-amphitheaters/blob/main/roman-amphitheaters.csv)

In [ ]:
df = pd.read_csv('.csv') # df stands for dataframe, i.e., row and columns of data.

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.tail()

#### Data types in our csv

In [ ]:
df.shape # notice that this is an attribute so no parentheses

In [ ]:
df.info() # notice that this is a methon, so we need parentheses

In [ ]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### Example: Shipwrecks Database

Download the [Shipwrecks Database](http://oxrep.classics.ox.ac.uk/docs/StraussShipwrecks.zip) for the [The Oxford Roman Economy Project](http://oxrep.classics.ox.ac.uk/).

In [ ]:
df = pd.read_excel('StraussShipwrecks.xlsx')

In [ ]:
df

#### Access one column

In [ ]:
type(df['Sea area'])

#### What datatype is this?

#### Access two columns

In [ ]:
df[['Region', 'Sea area']]

Check [here](https://www.w3schools.com/python/pandas/pandas_series.asp).

#### What datatype is this now?

#### Get all columns

### Get all rows
- iloc (integer location)
- loc

### 1) iloc

In [ ]:
df.iloc[0]

#### How can we get the first two rows?

#### How can we get the first column of the above df?

### 2) loc
In this way, we do not get the first, second, etc., row. We get the row that has the index we specify.

### Let's grab some data

#### Get the Country column

#### Count with `.value_counts()`

### Set index `.set_index()`

#### Did the original dataframe change?

#### let's put the parameter `inplace=True`

#### What will happen of I look for `df.loc[0]`?

#### Let's reset the index

In [ ]:
df.reset_index(inplace=True)

### Sort `.sort_index(ascending=False)`

## Filter

#### what's the result of the below statement?

In [ ]:
df['Country'] == 'Country'

#### Combine two filters with `&` = `and`

#### Combine two filters with `|` = `or`