## Lists

In [2]:
mylist = ['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine']

#### Add the name Jim to the list

In [2]:
mylist.append('Georgios')

In [4]:
print(mylist)

['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios']

#### Insert the name Bod to the 2nd place in the list

In [9]:
mylist[1] = ('Alex')
print(mylist)

['John', 'Alex', 'Ted', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios', 'Alex', 'l']

#### Remove Ted from the list

In [10]:
mylist.remove('Ted')

In [13]:
print(mylist)

['John', 'Alex', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios', 'Alex', 'l']

---

## Tuples

#### Make mylist a tuple

In [16]:
mytuple = tuple(mylist)
print((mytuple))

('John', 'Alex', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios', 'Alex', 'l')

#### Change the first element in the tuple

In [17]:
mytuple[0] = ('Alex')
print((mytuple))

TypeError: 'tuple' object does not support item assignment

In [19]:
mynewlist = list(mytuple)
mynewlist

['John',
 'Alex',
 'Nick',
 'Albert',
 'John',
 'Catherine',
 'Georgios',
 'Alex',
 'l']

__We have to create a new tuple as while lists are mutable, tuples are immutable.__

---

## Dictionaries

In [21]:
persons = {
    "first": "John",
    "last": "Smith",
    "email": "johnsmith@gmail.com"
}

In [24]:
print(persons[0])

KeyError: 0

#### Add more people

In [25]:
persons = {
    "first": ["John", "Bob"],
    "last": ["Smith", "Joe"],
    "email": ["johnsmith@gmail.com", "bobjoe@gmail.com"]
}

In [26]:
print(persons)

{'first': ['John', 'Bob'], 'last': ['Smith', 'Joe'], 'email': ['johnsmith@gmail.com', 'bobjoe@gmail.com']}

### items, keys, values

In [29]:
persons.values()

dict_values([['John', 'Bob'], ['Smith', 'Joe'], ['johnsmith@gmail.com', 'bobjoe@gmail.com']])

In [40]:
for keys,values in persons.items():
    
    print(keys)
    for value in values:
        print(value)
    print('\n')

first
John
Bob


last
Smith
Joe


email
johnsmith@gmail.com
bobjoe@gmail.com

---

## Set

#### Make mylist a set

In [53]:
mylist.append('Georgios')
print(mylist)

myset = set(mylist)
print(myset)

['Albert', 'Alex', 'Nick', 'l', 'John', 'Catherine', 'Georgios', 'Georgios']
{'Albert', 'Alex', 'Nick', 'John', 'l', 'Catherine', 'Georgios'}

#### Make mylist again a list

In [56]:
mylist = list(set(mylist))
print(mylist)

['Albert', 'Alex', 'Nick', 'John', 'l', 'Catherine', 'Georgios']

---

## Read and Write to files

### Read

In [ ]:
file = open("myfile.txt", "r")
f = file.read()
file.close()

In [61]:
print(f)

Hi!

In [65]:
with open("myfile.txt", "r", encoding='utf-8') as file:
    text = file.read()
print(f)

Hi, Γεώργιος!

### Write

In [1]:
mytext = "this is a new text"
with open("mynewtext.txt", 'w', encoding='utf-8') as file:
    file.write(mytext)

In [4]:
mytext = "this is a new text"
with open("mynewtext.txt", 'w', encoding='utf-8') as file:
    file.write(str(mylist))

In [13]:
with open("mynewtext.txt", 'w', encoding='utf-8') as file:
    for i in mylist:
#         file.write(i + "\n")
#         file.write("%s\n" % i)
#         file.write("{0}\n".format(i))
        file.write(f"{i}\n")

---

## Pandas and CSV/EXCEL

#### Libraries - Imports

In [ ]:
# pip install pandas

In [17]:
import os
import pandas as pd # This is a convention in Python community.

#### Read

Download the csv of [Roman Amphitheaters](https://github.com/roman-amphitheaters/roman-amphitheaters/blob/main/roman-amphitheaters.csv)

In [18]:
df = pd.read_csv('roman-amphitheaters.csv') # df stands for dataframe, i.e., row and columns of data.

In [19]:
df

,id,title,label,latintoponym,pleiades,welchid,golvinid,buildingtype,chronogroup,secondcentury,...,zotero,dimensionsunknown,arenamajor,arenaminor,extmajor,extminor,exteriorheight,longitude,latitude,elevation
0,duraEuroposAmphitheater,Amphitheater at Dura Europos,Dura,Dura Europus,https://pleiades.stoa.org/places/893989,NaN,129.0,amphitheater,severan,False,...,5ADZC245,False,31.0,25.0,50.0,44.0,NaN,40.728926,34.749855,223
1,arlesAmphitheater,Amphitheater at Arles,Arles,Arelate,https://pleiades.stoa.org/places/148217,NaN,154.0,amphitheater,flavian,True,...,LD7NNHSG,False,47.0,32.0,136.0,107.0,NaN,4.631111,43.677778,21
2,lyonAmphitheater,Amphitheater at Lyon,Lyon,Lugdunum,https://pleiades.stoa.org/places/167717,NaN,NaN,amphitheater,second-century,True,...,NaN,False,67.6,42.0,105.0,NaN,NaN,4.830556,45.770556,206
3,ludusMagnusArena,Ludus Magnus Arena,Ludus Magnus,Ludus Magnus,https://pleiades.stoa.org/places/423025,NaN,NaN,practice-arena,imperial,False,...,NaN,False,NaN,NaN,NaN,NaN,NaN,12.494913,41.889950,22
4,romeFlavianAmphitheater,Flavian Amphitheater at Rome,Colosseum,NaN,https://pleiades.stoa.org/places/423025,NaN,152.0,amphitheater,flavian,True,...,VKMRD8AT,False,83.0,48.0,189.0,156.0,52.0,12.492269,41.890169,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,avenchesAmphitheater,Amphitheater at Avenches,Avenches,Aventicum,https://pleiades.stoa.org/places/177495,NaN,104.0,amphitheater,second-century,True,...,LD7NNHSG,False,51.0,39.0,99.0,87.0,NaN,7.042646,46.880971,470
264,venafroAmphitheater,Amphitheater at Venafro,Venafro,Venafrum,https://pleiades.stoa.org/places/433185,NaN,87.0,amphitheater,imperial,True,...,HQ9QC3FS,False,60.0,35.0,110.0,85.0,NaN,14.046835,41.482550,176
265,saintGeorgesDuBoisAmphitheater,Amphitheater at Saint-Georges-du-Bois,Saint-Georges-du-Bois,NaN,NaN,NaN,103.0,amphitheater,first-century,True,...,ZSJDWT3E,False,54.0,30.0,65.0,50.0,NaN,-0.749919,46.142723,39
266,toledoAmphitheater,Amphitheater at Toledo,Toledo,Toletum,https://pleiades.stoa.org/places/266066,NaN,NaN,amphitheater,imperial,True,...,9JJW3LUE,True,NaN,NaN,NaN,NaN,NaN,-4.022888,39.865349,482
267,kaiseraugustAmphitheater,Amphitheater at Kaiseraugst,Kaiseraugst,Castrum Rauracense,https://pleiades.stoa.org/places/81716458,NaN,NaN,amphitheater,fourth-century,False,...,AUHQAHQB,False,NaN,NaN,50.0,40.0,NaN,7.721596,47.540822,482

In [22]:
df.head(10)

,id,title,label,latintoponym,pleiades,welchid,golvinid,buildingtype,chronogroup,secondcentury,...,zotero,dimensionsunknown,arenamajor,arenaminor,extmajor,extminor,exteriorheight,longitude,latitude,elevation
0,duraEuroposAmphitheater,Amphitheater at Dura Europos,Dura,Dura Europus,https://pleiades.stoa.org/places/893989,NaN,129.0,amphitheater,severan,False,...,5ADZC245,False,31.0,25.0,50.0,44.0,NaN,40.728926,34.749855,223
1,arlesAmphitheater,Amphitheater at Arles,Arles,Arelate,https://pleiades.stoa.org/places/148217,NaN,154.0,amphitheater,flavian,True,...,LD7NNHSG,False,47.0,32.0,136.0,107.0,NaN,4.631111,43.677778,21
2,lyonAmphitheater,Amphitheater at Lyon,Lyon,Lugdunum,https://pleiades.stoa.org/places/167717,NaN,NaN,amphitheater,second-century,True,...,NaN,False,67.6,42.0,105.0,NaN,NaN,4.830556,45.770556,206
3,ludusMagnusArena,Ludus Magnus Arena,Ludus Magnus,Ludus Magnus,https://pleiades.stoa.org/places/423025,NaN,NaN,practice-arena,imperial,False,...,NaN,False,NaN,NaN,NaN,NaN,NaN,12.494913,41.889950,22
4,romeFlavianAmphitheater,Flavian Amphitheater at Rome,Colosseum,NaN,https://pleiades.stoa.org/places/423025,NaN,152.0,amphitheater,flavian,True,...,VKMRD8AT,False,83.0,48.0,189.0,156.0,52.0,12.492269,41.890169,22
5,romeAmphitheatrumCastrense,Amphitheatrum Castrense (Rome),Amph. Castrense,NaN,https://pleiades.stoa.org/places/423025,NaN,189.0,amphitheater,severan,False,...,NaN,False,NaN,NaN,88.0,75.8,NaN,12.515144,41.887715,48
6,eleutheropolisAmphitheater,Amphitheater at Eleutheropolis,Eleutheropolis,Eleutheropolis,https://pleiades.stoa.org/places/687854,NaN,NaN,amphitheater,second-century,True,...,NaN,False,47.0,38.0,71.0,56.0,NaN,34.893845,31.608189,253
7,pompeiiAmphitheater,Amphitheater at Pompeii,Pompeii,Pompeii,https://pleiades.stoa.org/places/433032,1.0,NaN,amphitheater,republican,False,...,2DX4CYZZ,False,66.0,35.0,135.0,104.0,NaN,14.495262,40.751213,21
8,meridaAmphitheater,Amphitheater at Mérida,Mérida,Emerita Augusta,https://pleiades.stoa.org/places/256155,NaN,77.0,amphitheater,julio-claudian,True,...,NaN,False,64.0,41.0,126.0,102.0,NaN,-6.337952,38.916168,231
9,newsteadAmphitheater,Amphitheater at Newstead,Newstead,Trimontium,https://pleiades.stoa.org/places/89304,NaN,NaN,amphitheater,flavian,True,...,CPSBJ2HR,False,37.0,23.0,70.0,60.0,NaN,-2.691900,55.602600,83

In [23]:
df.tail(5)

,id,title,label,latintoponym,pleiades,welchid,golvinid,buildingtype,chronogroup,secondcentury,...,zotero,dimensionsunknown,arenamajor,arenaminor,extmajor,extminor,exteriorheight,longitude,latitude,elevation
263,avenchesAmphitheater,Amphitheater at Avenches,Avenches,Aventicum,https://pleiades.stoa.org/places/177495,NaN,104.0,amphitheater,second-century,True,...,LD7NNHSG,False,51.0,39.0,99.0,87.0,NaN,7.042646,46.880971,470
264,venafroAmphitheater,Amphitheater at Venafro,Venafro,Venafrum,https://pleiades.stoa.org/places/433185,NaN,87.0,amphitheater,imperial,True,...,HQ9QC3FS,False,60.0,35.0,110.0,85.0,NaN,14.046835,41.482550,176
265,saintGeorgesDuBoisAmphitheater,Amphitheater at Saint-Georges-du-Bois,Saint-Georges-du-Bois,NaN,NaN,NaN,103.0,amphitheater,first-century,True,...,ZSJDWT3E,False,54.0,30.0,65.0,50.0,NaN,-0.749919,46.142723,39
266,toledoAmphitheater,Amphitheater at Toledo,Toledo,Toletum,https://pleiades.stoa.org/places/266066,NaN,NaN,amphitheater,imperial,True,...,9JJW3LUE,True,NaN,NaN,NaN,NaN,NaN,-4.022888,39.865349,482
267,kaiseraugustAmphitheater,Amphitheater at Kaiseraugst,Kaiseraugst,Castrum Rauracense,https://pleiades.stoa.org/places/81716458,NaN,NaN,amphitheater,fourth-century,False,...,AUHQAHQB,False,NaN,NaN,50.0,40.0,NaN,7.721596,47.540822,482

#### Data types in our csv

In [24]:
df.shape # notice that this is an attribute so no parentheses

(268, 23)

In [25]:
df.info() # notice that this is a methon, so we need parentheses

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 268 non-null    object
 1   title              268 non-null    object
 2   label              268 non-null    object
 3   latintoponym       219 non-null    object
 4   pleiades           267 non-null    object
 5   welchid            18 non-null     float64
 6   golvinid           134 non-null    float64
 7   buildingtype       268 non-null    object
 8   chronogroup        268 non-null    object
 9   secondcentury      268 non-null    bool
 10  capacity           135 non-null    float64
 11  modcountry         268 non-null    object
 12  romanregion        268 non-null    object
 13  zotero             56 non-null     object
 14  dimensionsunknown  268 non-null    bool
 15  arenamajor         179 non-null    float64
 16  arenaminor         175 non-null    float64
 17  extmajor           214 non-null    float64
 18  extminor           194 non-null    float64
 19  exteriorheight     3 non-null      float64
 20  longitude          268 non-null    float64
 21  latitude           268 non-null    float64
 22  elevation          268 non-null    int64
dtypes: bool(2), float64(10), int64(1), object(10)
memory usage: 44.6+ KB

In [ ]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### Example: Shipwrecks Database

Download the [Shipwrecks Database](http://oxrep.classics.ox.ac.uk/docs/StraussShipwrecks.zip) for the [The Oxford Roman Economy Project](http://oxrep.classics.ox.ac.uk/).

In [26]:
df = pd.read_excel('StraussShipwrecks.xlsx')

In [27]:
df

,Wreck ID,Strauss ID,Name,Parker Number,Sea area,Country,Region,Latitude,Longitude,Min depth,...,Columns etc,Sarcophagi,Blocks,Marble type,Other cargo,Hull remains,Shipboard paraphernalia,Ship equipment,Estimated tonnage,Amphora type
0,1,331,Komiza,NaN,Adriatic,Croatia,Vis Island,43.03333,16.08333,30.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,328,Lokunji,NaN,Adriatic,Croatia,Kvarner region,44.70000,14.28333,4.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,329,Maharac Cape,NaN,Adriatic,Croatia,Mljet island,42.73333,17.66666,3.0,...,False,False,False,NaN,Eastern coarse ware pottery of biconical dishe...,NaN,NaN,NaN,NaN,NaN
3,4,330,Mlin,702,Adriatic,Croatia,Split channel,43.45000,16.23333,25.0,...,False,False,False,NaN,NaN,Remains of the hull.,NaN,"Two lead anchor stocks, though possibly not fr...",NaN,NaN
4,5,322,Plavac B,832,Adriatic,Croatia,"Zlarin Island, central Dalmatia",NaN,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,.,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1779,9058,0,Olbia Late Roman 2,NaN,NaN,Italy,Sardinia,40.91148,9.50738,0.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1780,9059,0,Olbia medieval,NaN,NaN,Italy,Sardinia,40.91148,9.50738,0.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1781,9060,0,Isola della Gallinara (Savona),NaN,NaN,Italy,Liguria,44.02648,8.22996,50.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1782,9061,0,San Vito Lo Capo,NaN,NaN,Italy,Sicily,38.18825,12.74551,0.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1783,9063,0,Capo Colonna and Capo Alfieri,NaN,NaN,Italy,Calabria,38.95399,17.17163,0.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,0.0,NaN

#### Access one column

In [28]:
df['Sea area']

0       Adriatic
1       Adriatic
2       Adriatic
3       Adriatic
4       Adriatic
          ...
1779         NaN
1780         NaN
1781         NaN
1782         NaN
1783         NaN
Name: Sea area, Length: 1784, dtype: object

#### What datatype is this?

In [29]:
type(df['Sea area'])

pandas.core.series.Series

#### Access two columns

In [30]:
type(df[['Region', 'Sea area']])

pandas.core.frame.DataFrame

Check [here](https://www.w3schools.com/python/pandas/pandas_series.asp).

#### What datatype is this now?

#### Get all columns

### Get all rows
- iloc (integer location)
- loc

### 1) iloc

In [31]:
df.iloc[0]

Wreck ID                                                                   1
Strauss ID                                                               331
Name                                                                  Komiza
Parker Number                                                            NaN
Sea area                                                            Adriatic
Country                                                              Croatia
Region                                                            Vis Island
Latitude                                                            43.03333
Longitude                                                           16.08333
Min depth                                                               30.0
Max depth                                                               30.0
Depth                                                                    30m
Period                                                        Roman Imperial
Dating                                                           C1st-2nd AD
Earliest date                                                            1.0
Latest date                                                            200.0
Date range                                                               NaN
Mid point of date range                                                  NaN
Probability                                                              NaN
Place of origin                                                        Egypt
Place of destination                                          Northern Italy
Reference                  M. Jurišić, Ancient Shipwrecks of the Adriatic...
Comments                   Completely looted site with sherds of Egyptian...
Amphorae                                                                True
Marble                                                                 False
Columns etc                                                            False
Sarcophagi                                                             False
Blocks                                                                 False
Marble type                                                              NaN
Other cargo                                                              NaN
Hull remains                                                             NaN
Shipboard paraphernalia                                                  NaN
Ship equipment                                                           NaN
Estimated tonnage                                                        NaN
Amphora type                                                             NaN
Name: 0, dtype: object

#### How can we get the first two rows?

In [33]:
df.iloc[0:2]

,Wreck ID,Strauss ID,Name,Parker Number,Sea area,Country,Region,Latitude,Longitude,Min depth,...,Columns etc,Sarcophagi,Blocks,Marble type,Other cargo,Hull remains,Shipboard paraphernalia,Ship equipment,Estimated tonnage,Amphora type
0,1,331,Komiza,NaN,Adriatic,Croatia,Vis Island,43.03333,16.08333,30.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,328,Lokunji,NaN,Adriatic,Croatia,Kvarner region,44.70000,14.28333,4.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### How can we get the first column of the above df?

In [35]:
df.iloc[0:2]["Country"]

0    Croatia
1    Croatia
Name: Country, dtype: object

### 2) loc
In this way, we do not get the first, second, etc., row. We get the row that has the index we specify.

In [37]:
df.loc[0:2]

,Wreck ID,Strauss ID,Name,Parker Number,Sea area,Country,Region,Latitude,Longitude,Min depth,...,Columns etc,Sarcophagi,Blocks,Marble type,Other cargo,Hull remains,Shipboard paraphernalia,Ship equipment,Estimated tonnage,Amphora type
0,1,331,Komiza,NaN,Adriatic,Croatia,Vis Island,43.03333,16.08333,30.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,328,Lokunji,NaN,Adriatic,Croatia,Kvarner region,44.70000,14.28333,4.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,329,Maharac Cape,NaN,Adriatic,Croatia,Mljet island,42.73333,17.66666,3.0,...,False,False,False,NaN,Eastern coarse ware pottery of biconical dishe...,NaN,NaN,NaN,NaN,NaN

### Let's grab some data

#### Get the Country column

In [40]:
df.loc[0:1]['Country']

0    Croatia
1    Croatia
Name: Country, dtype: object

#### Count with `.value_counts()`

In [41]:
df['Country'].value_counts()

Italy                   247
France                  217
Greece                   94
ZZ-Non-Mediterranean     69
Croatia                  63
Turkey                   62
Israel                   56
Spain                    30
Bulgaria                 18
Cyprus                   13
Albania                  11
International waters      9
Libya                     6
Lebanon                   5
Egypt                     5
Tunisia                   2
Montenegro                2
India                     1
Romania                   1
Minorca                   1
Syria                     1
Italy - Sicily            1
Malta                     1
Sudan                     1
Name: Country, dtype: int64

### Set index `.set_index()`

#### Did the original dataframe change?

#### let's put the parameter `inplace=True`

#### What will happen of I look for `df.loc[0]`?

#### Let's reset the index

In [ ]:
df.reset_index(inplace=True)

### Sort `.sort_index(ascending=False)`

## Filter

#### what's the result of the below statement?

In [43]:
myfilter = df['Country'] == 'Croatia'
df[myfilter]

,Wreck ID,Strauss ID,Name,Parker Number,Sea area,Country,Region,Latitude,Longitude,Min depth,...,Columns etc,Sarcophagi,Blocks,Marble type,Other cargo,Hull remains,Shipboard paraphernalia,Ship equipment,Estimated tonnage,Amphora type
0,1,331,Komiza,NaN,Adriatic,Croatia,Vis Island,43.03333,16.08333,30.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,328,Lokunji,NaN,Adriatic,Croatia,Kvarner region,44.70000,14.28333,4.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,329,Maharac Cape,NaN,Adriatic,Croatia,Mljet island,42.73333,17.66666,3.0,...,False,False,False,NaN,Eastern coarse ware pottery of biconical dishe...,NaN,NaN,NaN,NaN,NaN
3,4,330,Mlin,702,Adriatic,Croatia,Split channel,43.45000,16.23333,25.0,...,False,False,False,NaN,NaN,Remains of the hull.,NaN,"Two lead anchor stocks, though possibly not fr...",NaN,NaN
4,5,322,Plavac B,832,Adriatic,Croatia,"Zlarin Island, central Dalmatia",NaN,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,.,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1639,8918,0,Veli Porat,NaN,Adriatic,Croatia,off Scedro,43.06925,16.69784,0.0,...,False,False,False,NaN,NaN,NaN,Eastern Sigilatta A pottery,NaN,0.0,NaN
1670,8949,0,Okuklje Cove,NaN,Adriatic,Croatia,Mjlet Island,42.71666,17.68333,4.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1671,8950,0,Duboka Cove,NaN,Adriatic,Croatia,Hvar island,43.11274,16.66076,0.0,...,False,False,False,NaN,NaN,NaN,An oval amphora inscribed with BDEUNOR points ...,NaN,0.0,NaN
1672,8951,0,Cavtat 2,NaN,Adriatic,Croatia,south of Dubrovnick,42.57652,18.21018,0.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1764,9043,0,Cape Glavat/Mljet B,704,Adriatic,Croatia,NW side of Mljet island,42.80000,17.38333,30.0,...,False,False,False,NaN,"Southern Italian pottery, 'orlo bifido' dishes...",Well preserved parts of the hull were found (7...,"Italian terra sigillata Drag, 24/25 bearing th...",A lead anchor stock of so-called movable mode...,0.0,NaN

In [44]:
df[df['Country'] == 'Croatia']

,Wreck ID,Strauss ID,Name,Parker Number,Sea area,Country,Region,Latitude,Longitude,Min depth,...,Columns etc,Sarcophagi,Blocks,Marble type,Other cargo,Hull remains,Shipboard paraphernalia,Ship equipment,Estimated tonnage,Amphora type
0,1,331,Komiza,NaN,Adriatic,Croatia,Vis Island,43.03333,16.08333,30.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,328,Lokunji,NaN,Adriatic,Croatia,Kvarner region,44.70000,14.28333,4.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,329,Maharac Cape,NaN,Adriatic,Croatia,Mljet island,42.73333,17.66666,3.0,...,False,False,False,NaN,Eastern coarse ware pottery of biconical dishe...,NaN,NaN,NaN,NaN,NaN
3,4,330,Mlin,702,Adriatic,Croatia,Split channel,43.45000,16.23333,25.0,...,False,False,False,NaN,NaN,Remains of the hull.,NaN,"Two lead anchor stocks, though possibly not fr...",NaN,NaN
4,5,322,Plavac B,832,Adriatic,Croatia,"Zlarin Island, central Dalmatia",NaN,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,.,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1639,8918,0,Veli Porat,NaN,Adriatic,Croatia,off Scedro,43.06925,16.69784,0.0,...,False,False,False,NaN,NaN,NaN,Eastern Sigilatta A pottery,NaN,0.0,NaN
1670,8949,0,Okuklje Cove,NaN,Adriatic,Croatia,Mjlet Island,42.71666,17.68333,4.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1671,8950,0,Duboka Cove,NaN,Adriatic,Croatia,Hvar island,43.11274,16.66076,0.0,...,False,False,False,NaN,NaN,NaN,An oval amphora inscribed with BDEUNOR points ...,NaN,0.0,NaN
1672,8951,0,Cavtat 2,NaN,Adriatic,Croatia,south of Dubrovnick,42.57652,18.21018,0.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1764,9043,0,Cape Glavat/Mljet B,704,Adriatic,Croatia,NW side of Mljet island,42.80000,17.38333,30.0,...,False,False,False,NaN,"Southern Italian pottery, 'orlo bifido' dishes...",Well preserved parts of the hull were found (7...,"Italian terra sigillata Drag, 24/25 bearing th...",A lead anchor stock of so-called movable mode...,0.0,NaN

#### Combine two filters with `&` = `and`

In [46]:
df[(df['Country'] == 'Croatia') & (df['Sea area'] == 'Adriatic') ]

,Wreck ID,Strauss ID,Name,Parker Number,Sea area,Country,Region,Latitude,Longitude,Min depth,...,Columns etc,Sarcophagi,Blocks,Marble type,Other cargo,Hull remains,Shipboard paraphernalia,Ship equipment,Estimated tonnage,Amphora type
0,1,331,Komiza,NaN,Adriatic,Croatia,Vis Island,43.03333,16.08333,30.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,328,Lokunji,NaN,Adriatic,Croatia,Kvarner region,44.70000,14.28333,4.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,329,Maharac Cape,NaN,Adriatic,Croatia,Mljet island,42.73333,17.66666,3.0,...,False,False,False,NaN,Eastern coarse ware pottery of biconical dishe...,NaN,NaN,NaN,NaN,NaN
3,4,330,Mlin,702,Adriatic,Croatia,Split channel,43.45000,16.23333,25.0,...,False,False,False,NaN,NaN,Remains of the hull.,NaN,"Two lead anchor stocks, though possibly not fr...",NaN,NaN
4,5,322,Plavac B,832,Adriatic,Croatia,"Zlarin Island, central Dalmatia",NaN,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,.,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1639,8918,0,Veli Porat,NaN,Adriatic,Croatia,off Scedro,43.06925,16.69784,0.0,...,False,False,False,NaN,NaN,NaN,Eastern Sigilatta A pottery,NaN,0.0,NaN
1670,8949,0,Okuklje Cove,NaN,Adriatic,Croatia,Mjlet Island,42.71666,17.68333,4.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1671,8950,0,Duboka Cove,NaN,Adriatic,Croatia,Hvar island,43.11274,16.66076,0.0,...,False,False,False,NaN,NaN,NaN,An oval amphora inscribed with BDEUNOR points ...,NaN,0.0,NaN
1672,8951,0,Cavtat 2,NaN,Adriatic,Croatia,south of Dubrovnick,42.57652,18.21018,0.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1764,9043,0,Cape Glavat/Mljet B,704,Adriatic,Croatia,NW side of Mljet island,42.80000,17.38333,30.0,...,False,False,False,NaN,"Southern Italian pottery, 'orlo bifido' dishes...",Well preserved parts of the hull were found (7...,"Italian terra sigillata Drag, 24/25 bearing th...",A lead anchor stock of so-called movable mode...,0.0,NaN

#### Combine two filters with `|` = `or`

In [45]:
df[(df['Country'] == 'Croatia') | (df['Country'] == 'Greeece') ]

,Wreck ID,Strauss ID,Name,Parker Number,Sea area,Country,Region,Latitude,Longitude,Min depth,...,Columns etc,Sarcophagi,Blocks,Marble type,Other cargo,Hull remains,Shipboard paraphernalia,Ship equipment,Estimated tonnage,Amphora type
0,1,331,Komiza,NaN,Adriatic,Croatia,Vis Island,43.03333,16.08333,30.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,328,Lokunji,NaN,Adriatic,Croatia,Kvarner region,44.70000,14.28333,4.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,329,Maharac Cape,NaN,Adriatic,Croatia,Mljet island,42.73333,17.66666,3.0,...,False,False,False,NaN,Eastern coarse ware pottery of biconical dishe...,NaN,NaN,NaN,NaN,NaN
3,4,330,Mlin,702,Adriatic,Croatia,Split channel,43.45000,16.23333,25.0,...,False,False,False,NaN,NaN,Remains of the hull.,NaN,"Two lead anchor stocks, though possibly not fr...",NaN,NaN
4,5,322,Plavac B,832,Adriatic,Croatia,"Zlarin Island, central Dalmatia",NaN,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,.,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1639,8918,0,Veli Porat,NaN,Adriatic,Croatia,off Scedro,43.06925,16.69784,0.0,...,False,False,False,NaN,NaN,NaN,Eastern Sigilatta A pottery,NaN,0.0,NaN
1670,8949,0,Okuklje Cove,NaN,Adriatic,Croatia,Mjlet Island,42.71666,17.68333,4.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1671,8950,0,Duboka Cove,NaN,Adriatic,Croatia,Hvar island,43.11274,16.66076,0.0,...,False,False,False,NaN,NaN,NaN,An oval amphora inscribed with BDEUNOR points ...,NaN,0.0,NaN
1672,8951,0,Cavtat 2,NaN,Adriatic,Croatia,south of Dubrovnick,42.57652,18.21018,0.0,...,False,False,False,NaN,NaN,NaN,NaN,NaN,0.0,NaN
1764,9043,0,Cape Glavat/Mljet B,704,Adriatic,Croatia,NW side of Mljet island,42.80000,17.38333,30.0,...,False,False,False,NaN,"Southern Italian pottery, 'orlo bifido' dishes...",Well preserved parts of the hull were found (7...,"Italian terra sigillata Drag, 24/25 bearing th...",A lead anchor stock of so-called movable mode...,0.0,NaN