## Lists

In [2]:
mylist = ['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine']

#### Add the name Jim to the list

In [3]:
mylist.append('Georgios')

In [4]:
print(mylist)

['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios']

#### Insert the name Bod to the 2nd place in the list

In [35]:
mylist.append('Alex')[1]

#### Remove Ted from the list

---

## Tuples

#### Make mylist a tuple

#### Change the first element in the tuple

__We have to create a new tuple as while lists are mutable, tuples are immutable.__

---

## Dictionaries

In [17]:
persons = {
    "first": "John",
    "last": "Smith",
    "email": "johnsmith@gmail.com"
}

#### Add more people

### items, keys, values

---

## Set

#### Make mylist a set

#### Make mylist again a list

---

## Read and Write to files

### Read

In [ ]:
file = open("myfile.txt","r")
file.close()

### Write

---

## Pandas and CSV/EXCEL

#### Libraries - Imports

In [4]:
# pip install pandas

In [6]:
import os
import pandas as pd # This is a convention in Python community.

#### Read

Download the csv of [Roman Amphitheaters](https://github.com/roman-amphitheaters/roman-amphitheaters/blob/main/roman-amphitheaters.csv)

In [ ]:
df = pd.read_csv('.csv') # df stands for dataframe, i.e., row and columns of data.

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.tail()

#### Data types in our csv

In [ ]:
df.shape # notice that this is an attribute so no parentheses

In [ ]:
df.info() # notice that this is a methon, so we need parentheses

In [7]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### Example: Shipwrecks Database

Download the [Shipwrecks Database](http://oxrep.classics.ox.ac.uk/docs/StraussShipwrecks.zip) for the [The Oxford Roman Economy Project](http://oxrep.classics.ox.ac.uk/).

In [13]:
df = pd.read_excel('StraussShipwrecks.xlsx')

In [ ]:
df

#### Access one column

In [53]:
type(df['Sea area'])

pandas.core.series.Series

#### What datatype is this?

#### Access two columns

In [ ]:
df[['Region', 'Sea area']]

Check [here](https://www.w3schools.com/python/pandas/pandas_series.asp).

#### What datatype is this now?

<class 'pandas.core.frame.DataFrame'>

#### Get all columns

### Get all rows
- iloc (integer location)
- loc

### 1) iloc

In [ ]:
df.iloc[0]

#### How can we get the first two rows?

#### How can we get the first column of the above df?

### 2) loc
In this way, we do not get the first, second, etc., row. We get the row that has the index we specify.

   Sea area  Country
0  Adriatic  Croatia
1  Adriatic  Croatia

### Let's grab some data

#### Get the Country column

#### Count with `.value_counts()`

### Set index `.set_index()`

#### Did the original dataframe change?

#### let's put the parameter `inplace=True`

#### What will happen of I look for `df.loc[0]`?

#### Let's reset the index

In [ ]:
df.reset_index(inplace=True)

### Sort `.sort_index(ascending=False)`

## Filter

#### what's the result of the below statement?

In [80]:
df['Country'] == 'Country'

#### Combine two filters with `&` = `and`

#### Combine two filters with `|` = `or`