## Lists

In [1]:
mylist = ['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine']

#### Add the name Jim to the list

In [2]:
mylist.append('Georgios')

In [4]:
print(mylist)

['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios']

#### Insert the name Bod to the 2nd place in the list

In [9]:
mylist[1] = ('Alex')
print(mylist)

['John', 'Alex', 'Ted', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios', 'Alex', 'l']

#### Remove Ted from the list

In [10]:
mylist.remove('Ted')

In [13]:
print(mylist)

['John', 'Alex', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios', 'Alex', 'l']

---

## Tuples

#### Make mylist a tuple

In [16]:
mytuple = tuple(mylist)
print((mytuple))

('John', 'Alex', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios', 'Alex', 'l')

#### Change the first element in the tuple

In [17]:
mytuple[0] = ('Alex')
print((mytuple))

TypeError: 'tuple' object does not support item assignment

In [19]:
mynewlist = list(mytuple)
mynewlist

['John',
 'Alex',
 'Nick',
 'Albert',
 'John',
 'Catherine',
 'Georgios',
 'Alex',
 'l']

__We have to create a new tuple as while lists are mutable, tuples are immutable.__

---

## Dictionaries

In [21]:
persons = {
    "first": "John",
    "last": "Smith",
    "email": "johnsmith@gmail.com"
}

In [24]:
print(persons[0])

KeyError: 0

#### Add more people

In [25]:
persons = {
    "first": ["John", "Bob"],
    "last": ["Smith", "Joe"],
    "email": ["johnsmith@gmail.com", "bobjoe@gmail.com"]
}

In [26]:
print(persons)

{'first': ['John', 'Bob'], 'last': ['Smith', 'Joe'], 'email': ['johnsmith@gmail.com', 'bobjoe@gmail.com']}

### items, keys, values

In [29]:
persons.values()

dict_values([['John', 'Bob'], ['Smith', 'Joe'], ['johnsmith@gmail.com', 'bobjoe@gmail.com']])

In [40]:
for keys,values in persons.items():
    
    print(keys)
    for value in values:
        print(value)
    print('\n')

first
John
Bob


last
Smith
Joe


email
johnsmith@gmail.com
bobjoe@gmail.com

---

## Set

#### Make mylist a set

In [53]:
mylist.append('Georgios')
print(mylist)

myset = set(mylist)
print(myset)

['Albert', 'Alex', 'Nick', 'l', 'John', 'Catherine', 'Georgios', 'Georgios']
{'Albert', 'Alex', 'Nick', 'John', 'l', 'Catherine', 'Georgios'}

#### Make mylist again a list

In [56]:
mylist = list(set(mylist))
print(mylist)

['Albert', 'Alex', 'Nick', 'John', 'l', 'Catherine', 'Georgios']

---

## Read and Write to files

### Read

In [60]:
file = open("myfile.txt", "r")
f = file.read()
file.close()

In [61]:
print(f)

Hi!

In [65]:
with open("myfile.txt", "r", encoding='utf-8') as file:
    f = file.read()
print(f)

Hi, Γεώργιος!

### Write

In [ ]:
with open("mynewtext.txt", 'w', encoding='utf-8') as file:
    for i in mylist:
        # file.write(i + "\n")
        # file.write("%s\n" % i)
        # file.write("{0}\n".format(i))
        file.write(f"{i}\n")

---

## Pandas and CSV/EXCEL

#### Libraries - Imports

In [1]:
pip install pandas

Requirement already satisfied: pandas in /Users/shama/opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/shama/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/shama/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/shama/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/shama/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
import pandas as pd # This is a convention in Python community.

#### Read

Download the csv of [Roman Amphitheaters](https://github.com/roman-amphitheaters/roman-amphitheaters/blob/main/roman-amphitheaters.csv)

In [4]:
df = pd.read_csv('roman-amphitheaters.csv') # df stands for dataframe, i.e., row and columns of data.

In [5]:
df

,id,title,label,latintoponym,pleiades,welchid,golvinid,buildingtype,chronogroup,secondcentury,...,zotero,dimensionsunknown,arenamajor,arenaminor,extmajor,extminor,exteriorheight,longitude,latitude,elevation
0,duraEuroposAmphitheater,Amphitheater at Dura Europos,Dura,Dura Europus,https://pleiades.stoa.org/places/893989,NaN,129.0,amphitheater,severan,False,...,5ADZC245,False,31.0,25.0,50.0,44.0,NaN,40.728926,34.749855,223
1,arlesAmphitheater,Amphitheater at Arles,Arles,Arelate,https://pleiades.stoa.org/places/148217,NaN,154.0,amphitheater,flavian,True,...,LD7NNHSG,False,47.0,32.0,136.0,107.0,NaN,4.631111,43.677778,21
2,lyonAmphitheater,Amphitheater at Lyon,Lyon,Lugdunum,https://pleiades.stoa.org/places/167717,NaN,NaN,amphitheater,second-century,True,...,NaN,False,67.6,42.0,105.0,NaN,NaN,4.830556,45.770556,206
3,ludusMagnusArena,Ludus Magnus Arena,Ludus Magnus,Ludus Magnus,https://pleiades.stoa.org/places/423025,NaN,NaN,practice-arena,imperial,False,...,NaN,False,NaN,NaN,NaN,NaN,NaN,12.494913,41.889950,22
4,romeFlavianAmphitheater,Flavian Amphitheater at Rome,Colosseum,NaN,https://pleiades.stoa.org/places/423025,NaN,152.0,amphitheater,flavian,True,...,VKMRD8AT,False,83.0,48.0,189.0,156.0,52.0,12.492269,41.890169,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,avenchesAmphitheater,Amphitheater at Avenches,Avenches,Aventicum,https://pleiades.stoa.org/places/177495,NaN,104.0,amphitheater,second-century,True,...,LD7NNHSG,False,51.0,39.0,99.0,87.0,NaN,7.042646,46.880971,470
264,venafroAmphitheater,Amphitheater at Venafro,Venafro,Venafrum,https://pleiades.stoa.org/places/433185,NaN,87.0,amphitheater,imperial,True,...,HQ9QC3FS,False,60.0,35.0,110.0,85.0,NaN,14.046835,41.482550,176
265,saintGeorgesDuBoisAmphitheater,Amphitheater at Saint-Georges-du-Bois,Saint-Georges-du-Bois,NaN,NaN,NaN,103.0,amphitheater,first-century,True,...,ZSJDWT3E,False,54.0,30.0,65.0,50.0,NaN,-0.749919,46.142723,39
266,toledoAmphitheater,Amphitheater at Toledo,Toledo,Toletum,https://pleiades.stoa.org/places/266066,NaN,NaN,amphitheater,imperial,True,...,9JJW3LUE,True,NaN,NaN,NaN,NaN,NaN,-4.022888,39.865349,482
267,kaiseraugustAmphitheater,Amphitheater at Kaiseraugst,Kaiseraugst,Castrum Rauracense,https://pleiades.stoa.org/places/81716458,NaN,NaN,amphitheater,fourth-century,False,...,AUHQAHQB,False,NaN,NaN,50.0,40.0,NaN,7.721596,47.540822,482

In [6]:
df.head()

,id,title,label,latintoponym,pleiades,welchid,golvinid,buildingtype,chronogroup,secondcentury,...,zotero,dimensionsunknown,arenamajor,arenaminor,extmajor,extminor,exteriorheight,longitude,latitude,elevation
0,duraEuroposAmphitheater,Amphitheater at Dura Europos,Dura,Dura Europus,https://pleiades.stoa.org/places/893989,NaN,129.0,amphitheater,severan,False,...,5ADZC245,False,31.0,25.0,50.0,44.0,NaN,40.728926,34.749855,223
1,arlesAmphitheater,Amphitheater at Arles,Arles,Arelate,https://pleiades.stoa.org/places/148217,NaN,154.0,amphitheater,flavian,True,...,LD7NNHSG,False,47.0,32.0,136.0,107.0,NaN,4.631111,43.677778,21
2,lyonAmphitheater,Amphitheater at Lyon,Lyon,Lugdunum,https://pleiades.stoa.org/places/167717,NaN,NaN,amphitheater,second-century,True,...,NaN,False,67.6,42.0,105.0,NaN,NaN,4.830556,45.770556,206
3,ludusMagnusArena,Ludus Magnus Arena,Ludus Magnus,Ludus Magnus,https://pleiades.stoa.org/places/423025,NaN,NaN,practice-arena,imperial,False,...,NaN,False,NaN,NaN,NaN,NaN,NaN,12.494913,41.889950,22
4,romeFlavianAmphitheater,Flavian Amphitheater at Rome,Colosseum,NaN,https://pleiades.stoa.org/places/423025,NaN,152.0,amphitheater,flavian,True,...,VKMRD8AT,False,83.0,48.0,189.0,156.0,52.0,12.492269,41.890169,22

In [7]:
df.tail()

,id,title,label,latintoponym,pleiades,welchid,golvinid,buildingtype,chronogroup,secondcentury,...,zotero,dimensionsunknown,arenamajor,arenaminor,extmajor,extminor,exteriorheight,longitude,latitude,elevation
263,avenchesAmphitheater,Amphitheater at Avenches,Avenches,Aventicum,https://pleiades.stoa.org/places/177495,NaN,104.0,amphitheater,second-century,True,...,LD7NNHSG,False,51.0,39.0,99.0,87.0,NaN,7.042646,46.880971,470
264,venafroAmphitheater,Amphitheater at Venafro,Venafro,Venafrum,https://pleiades.stoa.org/places/433185,NaN,87.0,amphitheater,imperial,True,...,HQ9QC3FS,False,60.0,35.0,110.0,85.0,NaN,14.046835,41.482550,176
265,saintGeorgesDuBoisAmphitheater,Amphitheater at Saint-Georges-du-Bois,Saint-Georges-du-Bois,NaN,NaN,NaN,103.0,amphitheater,first-century,True,...,ZSJDWT3E,False,54.0,30.0,65.0,50.0,NaN,-0.749919,46.142723,39
266,toledoAmphitheater,Amphitheater at Toledo,Toledo,Toletum,https://pleiades.stoa.org/places/266066,NaN,NaN,amphitheater,imperial,True,...,9JJW3LUE,True,NaN,NaN,NaN,NaN,NaN,-4.022888,39.865349,482
267,kaiseraugustAmphitheater,Amphitheater at Kaiseraugst,Kaiseraugst,Castrum Rauracense,https://pleiades.stoa.org/places/81716458,NaN,NaN,amphitheater,fourth-century,False,...,AUHQAHQB,False,NaN,NaN,50.0,40.0,NaN,7.721596,47.540822,482

#### Data types in our csv

In [8]:
df.shape # notice that this is an attribute so no parentheses

(268, 23)

In [9]:
df.info() # notice that this is a methon, so we need parentheses

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 268 non-null    object
 1   title              268 non-null    object
 2   label              268 non-null    object
 3   latintoponym       219 non-null    object
 4   pleiades           267 non-null    object
 5   welchid            18 non-null     float64
 6   golvinid           134 non-null    float64
 7   buildingtype       268 non-null    object
 8   chronogroup        268 non-null    object
 9   secondcentury      268 non-null    bool
 10  capacity           135 non-null    float64
 11  modcountry         268 non-null    object
 12  romanregion        268 non-null    object
 13  zotero             56 non-null     object
 14  dimensionsunknown  268 non-null    bool
 15  arenamajor         179 non-null    float64
 16  arenaminor         175 non-null    float64
 17  extmajor           214 non-null    float64
 18  extminor           194 non-null    float64
 19  exteriorheight     3 non-null      float64
 20  longitude          268 non-null    float64
 21  latitude           268 non-null    float64
 22  elevation          268 non-null    int64
dtypes: bool(2), float64(10), int64(1), object(10)
memory usage: 44.6+ KB

In [10]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### Example: Shipwrecks Database

Download the [Shipwrecks Database](http://oxrep.classics.ox.ac.uk/docs/StraussShipwrecks.zip) for the [The Oxford Roman Economy Project](http://oxrep.classics.ox.ac.uk/).

In [11]:
df = pd.read_excel('StraussShipwrecks.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'StraussShipwrecks.xlsx'

In [ ]:
df

#### Access one column

In [ ]:
type(df['Sea area'])

#### What datatype is this?

#### Access two columns

In [ ]:
df[['Region', 'Sea area']]

Check [here](https://www.w3schools.com/python/pandas/pandas_series.asp).

#### What datatype is this now?

#### Get all columns

### Get all rows
- iloc (integer location)
- loc

### 1) iloc

In [ ]:
df.iloc[0]

#### How can we get the first two rows?

In [13]:
df.iloc[0:2]

                        id                         title  label  latintoponym                                 pleiades  welchid  golvinid  buildingtype chronogroup  secondcentury  capacity modcountry  romanregion    zotero  dimensionsunknown  arenamajor  arenaminor  extmajor  extminor  exteriorheight  longitude   latitude  elevation
0  duraEuroposAmphitheater  Amphitheater at Dura Europos   Dura  Dura Europus  https://pleiades.stoa.org/places/893989      NaN     129.0  amphitheater     severan          False    1000.0      Syria        syria  5ADZC245              False        31.0        25.0      50.0      44.0             NaN  40.728926  34.749855        223
1        arlesAmphitheater         Amphitheater at Arles  Arles       Arelate  https://pleiades.stoa.org/places/148217      NaN     154.0  amphitheater     flavian           True   23354.0     France  narbonensis  LD7NNHSG              False        47.0        32.0     136.0     107.0             NaN   4.631111  43.677778         21

#### How can we get the first column of the above df?

In [17]:
df.loc[0:1]["title"]

0    Amphitheater at Dura Europos
1           Amphitheater at Arles
Name: title, dtype: object

### 2) loc
In this way, we do not get the first, second, etc., row. We get the row that has the index we specify.

### Let's grab some data

#### Get the Country column

#### Count with `.value_counts()`

### Set index `.set_index()`

#### Did the original dataframe change?

#### let's put the parameter `inplace=True`

#### What will happen of I look for `df.loc[0]`?

#### Let's reset the index

In [ ]:
df.reset_index(inplace=True)

### Sort `.sort_index(ascending=False)`

## Filter

#### what's the result of the below statement?

In [18]:
myfilter = df['Country'] == 'Croatia'
df[myfilter]

KeyError: 'Country'

#### Combine two filters with `&` = `and`

#### Combine two filters with `|` = `or`

In [ ]:
df[(df['Country'] == 'Croatia') | (df['Country'] == 'Greece')