## Lists

In [9]:
mylist = ['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine']

#### Add the name Jim to the list

In [19]:
mylist.append('Jim')
print(mylist)

['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios', 'Jim']

#### Insert the name Bod to the 2nd place in the list

In [21]:
mylist.append('Bod')
print(mylist)

['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios', 'Jim', 'Bod', 'Bod']

#### Remove Ted from the list

In [22]:
mylist.remove('Ted')
print(mylist)

['John', 'Maria', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios', 'Jim', 'Bod', 'Bod']

---

## Tuples

#### Make mylist a tuple

#### Change the first element in the tuple

__We have to create a new tuple as while lists are mutable, tuples are immutable.__

---

## Dictionaries

In [2]:
persons = {
    "first": "John",
    "last": "Smith",
    "email": "johnsmith@gmail.com"
}

In [3]:
print(persons)

{'first': 'John', 'last': 'Smith', 'email': 'johnsmith@gmail.com'}

#### Add more people

In [3]:
persons = {
    "first": ["John", "Bob"],
    "last": ["Smith", "Doe"],
    "email": ["johnsmith@gmail.com", "bobdoe@gmail.com"]
}
print(persons)

{'first': ['John', 'Bob'], 'last': ['Smith', 'Doe'], 'email': ['johnsmith@gmail.com', 'bobdoe@gmail.com']}

### items, keys, values

In [13]:
persons.values()

for keys, values in persons.items():
    print(keys)
    for values in values:
        print(values)
    print('\n')

first
John
Bob


last
Smith
Doe


email
johnsmith@gmail.com
bobdoe@gmail.com

---

## Set

#### Make mylist a set

In [17]:
mylist.append('Georgios')
print(mylist)

myset = set(mylist)
print(myset)

['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios']
{'Albert', 'John', 'Catherine', 'Ted', 'Nick', 'Georgios', 'Maria'}

#### Make mylist again a list

---

## Read and Write to files

### Read

In [4]:
file = open("README.md","r")
f = file.read()
file.close()

print(f)

Homework repository for Class 5.

### Write

In [5]:
with open("README.md", "r") as file:
    f = file.read()
print(f)

Homework repository for Class 5.

In [7]:
mytext = "This is a new text"
with open("mynewtext.txt", 'w', encoding='utf-8') as file:
    file.write(mytext)
# This opens up a few file with "This is a new text" written on it.

In [12]:
with open("mynewtext.txt", 'w', encoding='utf-8') as file:
    for i in mylist:
#         file.write(i)
#         file.write("%s\n" % 1)
#         file.write ("{0}\n".format(i))
        file.write(f"{i}\n")

---

## Pandas and CSV/EXCEL

#### Libraries - Imports

In [24]:
pip install pandas

Requirement already satisfied: pandas in /Users/alexanderurquhart/opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/alexanderurquhart/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/alexanderurquhart/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/alexanderurquhart/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/alexanderurquhart/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [36]:
import os
import pandas as pd # This is a convention in Python community.

#### Read

Download the csv of [Roman Amphitheaters](https://github.com/roman-amphitheaters/roman-amphitheaters/blob/main/roman-amphitheaters.csv)

In [37]:
df = pd.read_csv('roman-amphitheaters.csv') # df stands for dataframe, i.e., row and columns of data.

FileNotFoundError: [Errno 2] No such file or directory: 'roman-amphitheaters.csv'

In [22]:
df

NameError: name 'df' is not defined

In [ ]:
df.head()

In [ ]:
df.tail()

#### Data types in our csv

In [ ]:
df.shape # notice that this is an attribute so no parentheses

In [ ]:
df.info() # notice that this is a methon, so we need parentheses

In [7]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### Example: Shipwrecks Database

Download the [Shipwrecks Database](http://oxrep.classics.ox.ac.uk/docs/StraussShipwrecks.zip) for the [The Oxford Roman Economy Project](http://oxrep.classics.ox.ac.uk/).

In [34]:
def df:
    pd.read_excel('StraussShipwrecks.xlsx')

SyntaxError: invalid syntax (1433852742.py, line 1)

In [30]:
df

NameError: name 'df' is not defined

#### Access one column

In [53]:
type(df['Sea area'])

pandas.core.series.Series

#### What datatype is this?

#### Access two columns

In [ ]:
df[['Region', 'Sea area']]

Check [here](https://www.w3schools.com/python/pandas/pandas_series.asp).

#### What datatype is this now?

<class 'pandas.core.frame.DataFrame'>

#### Get all columns

### Get all rows
- iloc (integer location)
- loc

### 1) iloc

In [31]:
df.iloc[0]

NameError: name 'df' is not defined

#### How can we get the first two rows?

In [ ]:
df.iloc[0:2]

#### How can we get the first column of the above df?

In [ ]:
df.iloc[0:2]['Name of column']

### 2) loc
In this way, we do not get the first, second, etc., row. We get the row that has the index we specify.

   Sea area  Country
0  Adriatic  Croatia
1  Adriatic  Croatia

### Let's grab some data

#### Get the Country column

In [ ]:
df.loc["Country"]

#### Count with `.value_counts()`

### Set index `.set_index()`

#### Did the original dataframe change?

#### let's put the parameter `inplace=True`

#### What will happen of I look for `df.loc[0]`?

#### Let's reset the index

In [ ]:
df.reset_index(inplace=True)

### Sort `.sort_index(ascending=False)`

## Filter

#### what's the result of the below statement?

In [80]:
df['Country'] == 'Country'

#### Combine two filters with `&` = `and`

#### Combine two filters with `|` = `or`