## Lists

In [9]:
mylist = ['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine']

#### Add the name Jim to the list

In [19]:
mylist.append('Jim')
print(mylist)

['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios', 'Jim']

#### Insert the name Bod to the 2nd place in the list

In [21]:
mylist.append('Bod')
print(mylist)

['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios', 'Jim', 'Bod', 'Bod']

#### Remove Ted from the list

In [22]:
mylist.remove('Ted')
print(mylist)

['John', 'Maria', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios', 'Jim', 'Bod', 'Bod']

---

## Tuples

#### Make mylist a tuple

#### Change the first element in the tuple

__We have to create a new tuple as while lists are mutable, tuples are immutable.__

---

## Dictionaries

In [2]:
persons = {
    "first": "John",
    "last": "Smith",
    "email": "johnsmith@gmail.com"
}

In [3]:
print(persons)

{'first': 'John', 'last': 'Smith', 'email': 'johnsmith@gmail.com'}

#### Add more people

In [3]:
persons = {
    "first": ["John", "Bob"],
    "last": ["Smith", "Doe"],
    "email": ["johnsmith@gmail.com", "bobdoe@gmail.com"]
}
print(persons)

{'first': ['John', 'Bob'], 'last': ['Smith', 'Doe'], 'email': ['johnsmith@gmail.com', 'bobdoe@gmail.com']}

### items, keys, values

In [13]:
persons.values()

for keys, values in persons.items():
    print(keys)
    for values in values:
        print(values)
    print('\n')

first
John
Bob


last
Smith
Doe


email
johnsmith@gmail.com
bobdoe@gmail.com

---

## Set

#### Make mylist a set

In [17]:
mylist.append('Georgios')
print(mylist)

myset = set(mylist)
print(myset)

['John', 'Maria', 'Ted', 'Nick', 'Albert', 'John', 'Catherine', 'Georgios']
{'Albert', 'John', 'Catherine', 'Ted', 'Nick', 'Georgios', 'Maria'}

#### Make mylist again a list

---

## Read and Write to files

### Read

In [4]:
file = open("README.md","r")
f = file.read()
file.close()

print(f)

Homework repository for Class 5.

### Write

In [5]:
with open("README.md", "r") as file:
    f = file.read()
print(f)

Homework repository for Class 5.

In [7]:
mytext = "This is a new text"
with open("mynewtext.txt", 'w', encoding='utf-8') as file:
    file.write(mytext)
# This opens up a few file with "This is a new text" written on it.

In [12]:
with open("mynewtext.txt", 'w', encoding='utf-8') as file:
    for i in mylist:
#         file.write(i)
#         file.write("%s\n" % 1)
#         file.write ("{0}\n".format(i))
        file.write(f"{i}\n")

---

## Pandas and CSV/EXCEL

#### Libraries - Imports

In [24]:
pip install pandas

Requirement already satisfied: pandas in /Users/alexanderurquhart/opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/alexanderurquhart/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/alexanderurquhart/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /Users/alexanderurquhart/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /Users/alexanderurquhart/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import os
import pandas as pd # This is a convention in Python community.

#### Read

Download the csv of [Roman Amphitheaters](https://github.com/roman-amphitheaters/roman-amphitheaters/blob/main/roman-amphitheaters.csv)

In [7]:
df = pd.read_csv('RomanStuff.csv') # df stands for dataframe, i.e., row and columns of data.
# File needs to be in same folder

In [8]:
df

,id,title,label,latintoponym,pleiades,welchid,golvinid,buildingtype,chronogroup,secondcentury,...,zotero,dimensionsunknown,arenamajor,arenaminor,extmajor,extminor,exteriorheight,longitude,latitude,elevation
0,duraEuroposAmphitheater,Amphitheater at Dura Europos,Dura,Dura Europus,https://pleiades.stoa.org/places/893989,NaN,129.0,amphitheater,severan,False,...,5ADZC245,False,31.0,25.0,50.0,44.0,NaN,40.728926,34.749855,223
1,arlesAmphitheater,Amphitheater at Arles,Arles,Arelate,https://pleiades.stoa.org/places/148217,NaN,154.0,amphitheater,flavian,True,...,LD7NNHSG,False,47.0,32.0,136.0,107.0,NaN,4.631111,43.677778,21
2,lyonAmphitheater,Amphitheater at Lyon,Lyon,Lugdunum,https://pleiades.stoa.org/places/167717,NaN,NaN,amphitheater,second-century,True,...,NaN,False,67.6,42.0,105.0,NaN,NaN,4.830556,45.770556,206
3,ludusMagnusArena,Ludus Magnus Arena,Ludus Magnus,Ludus Magnus,https://pleiades.stoa.org/places/423025,NaN,NaN,practice-arena,imperial,False,...,NaN,False,NaN,NaN,NaN,NaN,NaN,12.494913,41.889950,22
4,romeFlavianAmphitheater,Flavian Amphitheater at Rome,Colosseum,NaN,https://pleiades.stoa.org/places/423025,NaN,152.0,amphitheater,flavian,True,...,VKMRD8AT,False,83.0,48.0,189.0,156.0,52.0,12.492269,41.890169,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,avenchesAmphitheater,Amphitheater at Avenches,Avenches,Aventicum,https://pleiades.stoa.org/places/177495,NaN,104.0,amphitheater,second-century,True,...,LD7NNHSG,False,51.0,39.0,99.0,87.0,NaN,7.042646,46.880971,470
264,venafroAmphitheater,Amphitheater at Venafro,Venafro,Venafrum,https://pleiades.stoa.org/places/433185,NaN,87.0,amphitheater,imperial,True,...,HQ9QC3FS,False,60.0,35.0,110.0,85.0,NaN,14.046835,41.482550,176
265,saintGeorgesDuBoisAmphitheater,Amphitheater at Saint-Georges-du-Bois,Saint-Georges-du-Bois,NaN,NaN,NaN,103.0,amphitheater,first-century,True,...,ZSJDWT3E,False,54.0,30.0,65.0,50.0,NaN,-0.749919,46.142723,39
266,toledoAmphitheater,Amphitheater at Toledo,Toledo,Toletum,https://pleiades.stoa.org/places/266066,NaN,NaN,amphitheater,imperial,True,...,9JJW3LUE,True,NaN,NaN,NaN,NaN,NaN,-4.022888,39.865349,482
267,kaiseraugustAmphitheater,Amphitheater at Kaiseraugst,Kaiseraugst,Castrum Rauracense,https://pleiades.stoa.org/places/81716458,NaN,NaN,amphitheater,fourth-century,False,...,AUHQAHQB,False,NaN,NaN,50.0,40.0,NaN,7.721596,47.540822,482

In [9]:
df.head()

,id,title,label,latintoponym,pleiades,welchid,golvinid,buildingtype,chronogroup,secondcentury,...,zotero,dimensionsunknown,arenamajor,arenaminor,extmajor,extminor,exteriorheight,longitude,latitude,elevation
0,duraEuroposAmphitheater,Amphitheater at Dura Europos,Dura,Dura Europus,https://pleiades.stoa.org/places/893989,NaN,129.0,amphitheater,severan,False,...,5ADZC245,False,31.0,25.0,50.0,44.0,NaN,40.728926,34.749855,223
1,arlesAmphitheater,Amphitheater at Arles,Arles,Arelate,https://pleiades.stoa.org/places/148217,NaN,154.0,amphitheater,flavian,True,...,LD7NNHSG,False,47.0,32.0,136.0,107.0,NaN,4.631111,43.677778,21
2,lyonAmphitheater,Amphitheater at Lyon,Lyon,Lugdunum,https://pleiades.stoa.org/places/167717,NaN,NaN,amphitheater,second-century,True,...,NaN,False,67.6,42.0,105.0,NaN,NaN,4.830556,45.770556,206
3,ludusMagnusArena,Ludus Magnus Arena,Ludus Magnus,Ludus Magnus,https://pleiades.stoa.org/places/423025,NaN,NaN,practice-arena,imperial,False,...,NaN,False,NaN,NaN,NaN,NaN,NaN,12.494913,41.889950,22
4,romeFlavianAmphitheater,Flavian Amphitheater at Rome,Colosseum,NaN,https://pleiades.stoa.org/places/423025,NaN,152.0,amphitheater,flavian,True,...,VKMRD8AT,False,83.0,48.0,189.0,156.0,52.0,12.492269,41.890169,22

In [10]:
df.tail()

,id,title,label,latintoponym,pleiades,welchid,golvinid,buildingtype,chronogroup,secondcentury,...,zotero,dimensionsunknown,arenamajor,arenaminor,extmajor,extminor,exteriorheight,longitude,latitude,elevation
263,avenchesAmphitheater,Amphitheater at Avenches,Avenches,Aventicum,https://pleiades.stoa.org/places/177495,NaN,104.0,amphitheater,second-century,True,...,LD7NNHSG,False,51.0,39.0,99.0,87.0,NaN,7.042646,46.880971,470
264,venafroAmphitheater,Amphitheater at Venafro,Venafro,Venafrum,https://pleiades.stoa.org/places/433185,NaN,87.0,amphitheater,imperial,True,...,HQ9QC3FS,False,60.0,35.0,110.0,85.0,NaN,14.046835,41.482550,176
265,saintGeorgesDuBoisAmphitheater,Amphitheater at Saint-Georges-du-Bois,Saint-Georges-du-Bois,NaN,NaN,NaN,103.0,amphitheater,first-century,True,...,ZSJDWT3E,False,54.0,30.0,65.0,50.0,NaN,-0.749919,46.142723,39
266,toledoAmphitheater,Amphitheater at Toledo,Toledo,Toletum,https://pleiades.stoa.org/places/266066,NaN,NaN,amphitheater,imperial,True,...,9JJW3LUE,True,NaN,NaN,NaN,NaN,NaN,-4.022888,39.865349,482
267,kaiseraugustAmphitheater,Amphitheater at Kaiseraugst,Kaiseraugst,Castrum Rauracense,https://pleiades.stoa.org/places/81716458,NaN,NaN,amphitheater,fourth-century,False,...,AUHQAHQB,False,NaN,NaN,50.0,40.0,NaN,7.721596,47.540822,482

#### Data types in our csv

In [11]:
df.shape # notice that this is an attribute so no parentheses

(268, 23)

In [12]:
df.info() # notice that this is a methon, so we need parentheses

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268 entries, 0 to 267
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 268 non-null    object
 1   title              268 non-null    object
 2   label              268 non-null    object
 3   latintoponym       219 non-null    object
 4   pleiades           267 non-null    object
 5   welchid            18 non-null     float64
 6   golvinid           134 non-null    float64
 7   buildingtype       268 non-null    object
 8   chronogroup        268 non-null    object
 9   secondcentury      268 non-null    bool
 10  capacity           135 non-null    float64
 11  modcountry         268 non-null    object
 12  romanregion        268 non-null    object
 13  zotero             56 non-null     object
 14  dimensionsunknown  268 non-null    bool
 15  arenamajor         179 non-null    float64
 16  arenaminor         175 non-null    float64
 17  extmajor           214 non-null    float64
 18  extminor           194 non-null    float64
 19  exteriorheight     3 non-null      float64
 20  longitude          268 non-null    float64
 21  latitude           268 non-null    float64
 22  elevation          268 non-null    int64
dtypes: bool(2), float64(10), int64(1), object(10)
memory usage: 44.6+ KB

In [13]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### Example: Shipwrecks Database

Download the [Shipwrecks Database](http://oxrep.classics.ox.ac.uk/docs/StraussShipwrecks.zip) for the [The Oxford Roman Economy Project](http://oxrep.classics.ox.ac.uk/).

In [15]:
df = pd.read_excel('StraussShipwrecks.xlsx')

In [16]:
df

      Wreck ID  Strauss ID                            Name Parker Number  Sea area  Country                           Region  Latitude  Longitude  Min depth  Max depth    Depth          Period         Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability Place of origin Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks Marble type                                        Other cargo          Hull remains Shipboard paraphernalia                                     Ship equipment  Estimated tonnage Amphora type
0            1         331                          Komiza           NaN  Adriatic  Croatia                       Vis Island  43.03333   16.08333       30.0       30.0      30m  Roman Imperial    C1st-2nd AD            1.0        200.0         NaN                      NaN          NaN           Egypt       Northern Italy  M. Jurišić, Ancient Shipwrecks of the Adriatic...  Completely looted site with sherds of Egyptian...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
1            2         328                         Lokunji           NaN  Adriatic  Croatia                   Kvarner region  44.70000   14.28333        4.0       12.0      12m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN             Cos       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...                                                NaN      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                NaN          NaN
2            3         329                    Maharac Cape           NaN  Adriatic  Croatia                     Mljet island  42.73333   17.66666        3.0       20.0    3-20m  Roman Imperial       C 1st AD            1.0        100.0         NaN                      NaN          NaN          Rhodes       Northern Italy  D. Vrsalović, PhD thesis (unpublished; 1979), ...                                                NaN      True   False        False       False   False         NaN  Eastern coarse ware pottery of biconical dishe...                   NaN                     NaN                                                NaN                NaN          NaN
3            4         330                            Mlin           702  Adriatic  Croatia                    Split channel  43.45000   16.23333       25.0       40.0      40m  Roman Imperial   C 1st-2nd AD            1.0        200.0         NaN                      NaN          NaN          Aegean       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...  A heavily looted mixed cargo of Greek amphorae...      True   False        False       False   False         NaN                                                NaN  Remains of the hull.                     NaN  Two lead anchor stocks, though possibly not fr...                NaN          NaN
4            5         322                        Plavac B           832  Adriatic  Croatia  Zlarin Island, central Dalmatia       NaN        NaN        NaN        NaN      NaN  Roman Imperial        C1st AD            1.0        100.0         NaN                      NaN          NaN             NaN                  NaN                                                NaN                                                NaN     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                  .                NaN          NaN
...        ...         ...                             ...           ...       ...      ...                              ...       ...        ...        ...        ...      ...             ...            ...            ...          ...         ...                      ...          ...             ...                  ...                                                ...                                                ...       ...     ...          ...         ...     ...         ...                                                ...                   ...                     ...                                                ...                ...          ...
1779      9058           0              Olbia Late Roman 2           NaN       NaN    Italy                         Sardinia  40.91148    9.50738        0.0        0.0       0m      Late Roman        C5th AD          400.0        500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Three other C5th AD wrecks found during constr...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1780      9059           0                  Olbia medieval           NaN       NaN    Italy                         Sardinia  40.91148    9.50738        0.0        0.0       0m        Medieval  C11th-15th AD         1000.0       1500.0         0.0                      0.0          0.0             NaN                  NaN  R. D'Oriano, Archeologia in Sardegna, 2007,  9...  Five small wrecks from the eleventh, fourteent...     False   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1781      9060           0  Isola della Gallinara (Savona)           NaN       NaN    Italy                          Liguria  44.02648    8.22996       50.0       50.0      50m  Roman Republic        C1st BC         -100.0         -1.0         0.0                      0.0          0.0        Campania                  NaN  http://www.archeosub.it/news2003/news0311.htm#...  A mound of intact Dr 1 amphorae and 'other car...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1782      9061           0                San Vito Lo Capo           NaN       NaN    Italy                           Sicily  38.18825   12.74551        0.0        0.0      NaN          Norman       C12th AD         1100.0       1200.0         0.0                      0.0          0.0             NaN                  NaN  F. Faccenna, Il Relitto di San Vito Lo Capo (2...  A local Sicilian ship carrying amphorae and ja...      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN
1783      9063           0   Capo Colonna and Capo Alfieri           NaN       NaN    Italy                         Calabria  38.95399   17.17163        0.0        0.0  shallow      Late Roman    C4th-5th AD          300.0        500.0         0.0                      0.0          0.0             NaN                  NaN  http://www.archeomar.it/templates/archeomar/at...       A probable Late Roman shipwreck of amphorae.      True   False        False       False   False         NaN                                                NaN                   NaN                     NaN                                                NaN                0.0          NaN

[1784 rows x 35 columns]

#### Access one column

In [17]:
type(df['Sea area'])

pandas.core.series.Series

#### What datatype is this?

#### Access two columns

In [18]:
df[['Region', 'Sea area']]

                               Region  Sea area
0                          Vis Island  Adriatic
1                      Kvarner region  Adriatic
2                        Mljet island  Adriatic
3                       Split channel  Adriatic
4     Zlarin Island, central Dalmatia  Adriatic
...                               ...       ...
1779                         Sardinia       NaN
1780                         Sardinia       NaN
1781                          Liguria       NaN
1782                           Sicily       NaN
1783                         Calabria       NaN

[1784 rows x 2 columns]

Check [here](https://www.w3schools.com/python/pandas/pandas_series.asp).

#### What datatype is this now?

#### Get all columns

### Get all rows
- iloc (integer location)
- loc

### 1) iloc

In [19]:
df.iloc[0]

Wreck ID                                                                   1
Strauss ID                                                               331
Name                                                                  Komiza
Parker Number                                                            NaN
Sea area                                                            Adriatic
Country                                                              Croatia
Region                                                            Vis Island
Latitude                                                            43.03333
Longitude                                                           16.08333
Min depth                                                               30.0
Max depth                                                               30.0
Depth                                                                    30m
Period                                                        Roman Imperial
Dating                                                           C1st-2nd AD
Earliest date                                                            1.0
Latest date                                                            200.0
Date range                                                               NaN
Mid point of date range                                                  NaN
Probability                                                              NaN
Place of origin                                                        Egypt
Place of destination                                          Northern Italy
Reference                  M. Jurišić, Ancient Shipwrecks of the Adriatic...
Comments                   Completely looted site with sherds of Egyptian...
Amphorae                                                                True
Marble                                                                 False
Columns etc                                                            False
Sarcophagi                                                             False
Blocks                                                                 False
Marble type                                                              NaN
Other cargo                                                              NaN
Hull remains                                                             NaN
Shipboard paraphernalia                                                  NaN
Ship equipment                                                           NaN
Estimated tonnage                                                        NaN
Amphora type                                                             NaN
Name: 0, dtype: object

#### How can we get the first two rows?

In [20]:
df.iloc[0:2]

   Wreck ID  Strauss ID     Name Parker Number  Sea area  Country          Region  Latitude  Longitude  Min depth  Max depth Depth          Period       Dating  Earliest date  Latest date  Date range  Mid point of date range  Probability Place of origin Place of destination                                          Reference                                           Comments  Amphorae  Marble  Columns etc  Sarcophagi  Blocks Marble type Other cargo Hull remains Shipboard paraphernalia Ship equipment  Estimated tonnage Amphora type
0         1         331   Komiza           NaN  Adriatic  Croatia      Vis Island  43.03333   16.08333       30.0       30.0   30m  Roman Imperial  C1st-2nd AD            1.0        200.0         NaN                      NaN          NaN           Egypt       Northern Italy  M. Jurišić, Ancient Shipwrecks of the Adriatic...  Completely looted site with sherds of Egyptian...      True   False        False       False   False         NaN         NaN          NaN                     NaN            NaN                NaN          NaN
1         2         328  Lokunji           NaN  Adriatic  Croatia  Kvarner region  44.70000   14.28333        4.0       12.0   12m  Roman Imperial     C 1st AD            1.0        100.0         NaN                      NaN          NaN             Cos       Northern Italy  D. Vrsalović, Istraživanja i Zaštita Podmorški...                                                NaN      True   False        False       False   False         NaN         NaN          NaN                     NaN            NaN                NaN          NaN

#### How can we get the first column of the above df?

In [22]:
df.iloc[0:2]['Country']

0    Croatia
1    Croatia
Name: Country, dtype: object

### 2) loc
In this way, we do not get the first, second, etc., row. We get the row that has the index we specify.

   Sea area  Country
0  Adriatic  Croatia
1  Adriatic  Croatia

### Let's grab some data

#### Get the Country column

In [23]:
df.loc["Country"]

KeyError: 'Country'

#### Count with `.value_counts()`

### Set index `.set_index()`

#### Did the original dataframe change?

#### let's put the parameter `inplace=True`

#### What will happen of I look for `df.loc[0]`?

#### Let's reset the index

In [ ]:
df.reset_index(inplace=True)

### Sort `.sort_index(ascending=False)`

## Filter

#### what's the result of the below statement?

In [24]:
df['Country'] == 'Country'

0       False
1       False
2       False
3       False
4       False
        ...
1779    False
1780    False
1781    False
1782    False
1783    False
Name: Country, Length: 1784, dtype: bool

#### Combine two filters with `&` = `and`

#### Combine two filters with `|` = `or`