In [1]:
import pandas as pd
from random import randint
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
df = pd.read_csv('pleiades-places-latest.csv')

In [4]:
# Text Box:
# Bassae = 570148
# Olympia = 570531
# Messene = 570479
# Lykosoura = 570444
# Nestor = 156116232
# Lykaion = 570441
# Megalopolis = 570467
# Pylos = 570640
# Kalamata = 570323
# Athens (Acropolis) = 638356144
newdf = df[(df['id'] == 570148) | (df['id'] == 570531) | (df['id'] == 570479) | (df['id'] == 570444) | (df['id'] == 156116232) | (df['id'] == 570441) | (df['id'] == 570467) | (df['id'] == 570640) | (df['id'] == 570323) | (df['id'] == 638356144)]
newdf.to_csv('class10hwmaps.csv')